doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      //include inc/locsanpham.jade
      .category
        .top-category
        .middle-category
          ul
            li#thuonghieu
              a Thương hiệu
                img(src='img/arrowdowncate.svg' alt='')
            li 
              a Loại da
                img(src='img/arrowdowncate.svg' alt='')
            li
              a Chức năng
                img(src='img/arrowdowncate.svg' alt='') 
            li 
              a Sắp xếp
                img(src='img/arrowdowncate.svg' alt='') 
          .open.thuonghieu
            .box-filter.box-fiter-price
              .box-filter-4.one
                .ct
                  label
                    input(type='checkbox' name='check_value')
                    span.pricelevel1 Nhỏ hơn 500.000đ
                  label
                    input(type='checkbox' name='check_value')
                    span.pricelevel2 500.000₫ - 2 triệu
                  label
                    input(type='checkbox' name='check_value')
                    span.pricelevel3 2 triệu- 5 triệu
                  label
                    input(type='checkbox' name='check_value')
                    span.pricelevel4 5 triệu - 10 triệu
                  label
                    input(type='checkbox' name='check_value')
                    span.pricelevel5 Lớn hơn 10 triệu
      // Footer
      footer#footer-new
        .footer-top.pad30_0
          .container
            ._item
              p
                | HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
                br
                | ( Có chỗ đậu xe hơi )
              p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
              img(src='img/bocongthuong.svg' alt='')
            ._item
              h4 THÔNG TIN CÔNG TY
              ul
                li
                  a(href='/') Giới thiệu 
                li
                  a(href='/') Chính sách đổi trả hàng 
                li
                  a(href='/') Góp ý – Khiếu nại
                li
                  a(href='/') Quy chế bảo mật
                li
                  a(href='/') Cung cấp hàng cho dangcapphaidep.vn
            ._item
              h4 HƯỚNG DẪN - HỢP TÁC
              ul
                li
                  a(href='/') Hỗ trợ khách hàng
                li
                  a(href='/') Hướng dẫn mua hàng 
                li
                  a(href='/') Hình thức giao hàng 
                li
                  a(href='/') Hình thức thanh toán
                li
                  a(href='/') Bán buôn, bán sỉ
            ._item
              h4 Liên hệ
              ul
                li
                  a(href='/')
                    .img
                      img(src='img/icon1.svg' alt='')
                    span 08 888 45 999
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0933 888 001
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0927 232 232
                li
                  a(href='/')
                    .img
                      img(src='img/icon3.svg' alt='')
                    span info@dangcapphaidep.vn
            ._item2
              ul
                li.width50
                  a(href='/')
                    img(src='img/icon4.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/paypal.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon5.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/icon6.svg' alt='')
                li.width50
                  a(href='/')
                    img(src='img/cod.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon7.svg' alt='')
        .footer-copyright
          .container
            ul
              li
                a(href='/')
                  img(src='img/facebook.svg' alt='')
              li
                a(href='/')
                  img(src='img/youtube.svg' alt='')
      .background_mobile
      .menu-mobile  
        .top.row.align-items-center
          img(src='img/leftmobile.svg' alt='').close_mobile
          ul.row.align-items-center
            li
              a(href="/") Đăng nhập
            li
              a(href="/") Đăng ký
        ul.bottom
          li
            a(href='#') Thương hiệu
          li
            a(href='#') Chăm sóc da
            ul.sub
              li
                a(href='#') -  Da nhạy cảm
              li
                a(href='#') -  Điều trị rạn nứt da
          li
            a(href='#') Collagen
          li
            a(href='#') Mi, mày, tóc
          li
            a(href='#') Sức khỏe
          li
            a(href='#') Giảm cân
          li
            a(href='#') Nước hoa
          li
            a(href='#') Trang điểm
          li
            a(href='#') Kinh nghiệm làm đẹp
      .form-box-search(style='display: none')
        .search__input
          form#form_s 
            a.cancelSearch x
            input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')     
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
  