doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			include inc/header3.jade
			// Chi tiết đơn hàng
			section.ctdh
				.box1
					i.icon-checked
					p Đặt hàng thành công
					p Đơn hàng: 0123456789
					p 12:20,Thứ tư 15/09/2020
				.box2
					p Thông tin thành viên
					p Bách, 0906948573
					p Đường số 1, khu chế xuất Linh Trung 2, Phường...
				.box3
					p Hãy tạo tài khoản bây giờ, để nhận ưu đãi cho thành viên
				.box4
					a(href="#") Tạo ngay
					a(href="#") Không
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
