doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      .gallery
        #big.owl-carousel.owl-theme
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
        #counter
      .detail
        h1 Vitamin C Booster Concentrate 20 ml – Tinh chất làm trắng da, chống lão hóa
        span.options.row.align-items-center
          span.rate
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star2.svg')
        span.options.row.align-items-center
          span.comments
            img(src='img/comment.svg')
            | Xem đánh giá (03)
          span.write-comment
            img(src='img/pencil.svg')
            | Viết đánh giá (02)
        .size.row.align-items-center
          span Dung tích:
          ul.row.align-items-center
            li.active
              a(href='#')
                | 5ml
                span.old 20.000.000đ
                span.new 4.000.000đ
            li
              a(href='#')
                | 10ml
                span.old 25.000.000đ
                span.new 2.000.000đ

        span.options.row.align-items-end
          select.number
            option(value = "1") 1
          span.price-new 3.000.000đ
          span.price-old 5.000.000đ
      .detail
        ul.tag
          li
            a(href="#") Chăm sóc da
          li
            a(href="#") Chăm sóc da
          li
            a(href="#") Chăm sóc da
        ul.description
          li.row.align-items-center
            span Hãng sản xuất:
            img(src='img/hang.svg' alt='')
          li
            span Xuất xứ: 
            | Đức
          .radio
            audio(controls='')
              source(src='horse.ogg' type='audio/ogg')
              source(src='horse.mp3' type='audio/mpeg')
              | Your browser does not support the audio element.
      .detail
        ul.promotions
            li
              .img
                img(src='img/icon14.svg' alt='')
              .text 
                span Miễn phí ship & Miễn phí hoàn trả
            li
              .img
                img(src='img/icon15.svg' alt='')
              .text 
                span Giao hàng tiêu chuẩn: dự kiến từ 
                  strong 24 
                  | tiếng đến 
                  strong 72 
                  | tiếng.
                
            li
              .img
                img(src='img/icon16.svg' alt='')
              .text 
                span Chấp nhận thanh toán
                img(src='img/pm.svg' alt='')
      .detail
        .bg-giamgia
          img(src='img/icon17.svg' alt='')
          p Giảm 
            strong 3% 
            | khi thanh toán online, tối đa 
            strong 500.000đ
      .heading
        .container
          .head
            h2 THƯỜNG ĐƯỢC MUA CHUNG
            a(href='#')
              img(src='img/arrowright2.svg')
      .detail
        .mua-chung
          .row.img-product.justify-content-between.align-items-center
            .item#loadproduct1_new
              img(src='img/image6.jpg' alt='')
            .item#loadproduct2_new
              img(src='img/image6.jpg' alt='')
            .item#loadproduct3_new
              img(src='img/image6.jpg' alt='')
          a.xct Xem chi tiết 
            img(src='img/arrow-small.svg' alt='')
      .heading
        .container
          .head
            h2 THÔNG TIN SẢN PHẨM
            a(href='#')
              img(src='img/arrowright2.svg')
      .detail.thongtinsanpham
        .content(style="height: 1000px; overflow: hidden")
          div(style='display: block; background: #26ae25; color: #ffffff; padding: 10px; text-align: justify;')
            p(style='text-align: justify;')
              strong
                em
                  span(style='font-family: helvetica, arial, sans-serif; color: #ffffff;')
                    a(style='color: #ffffff;' href='https://dangcapphaidep.vn/kem-chong-nang-image-spf50-prevention.html') Kem chống nắng Image SPF 50
                    |  là b
                  | iện pháp bảo vệ tối ưu làn da hỗn hợp trước tác hại của tia cực tím, đồng thời nuôi dưỡng làn da khỏe mạnh, giúp da trắng sáng và đẩy lùi lão hóa cấp kì mà không gây bất kì kích ứng nào cho da.
          h2(style='text-align: center;')
            span(style='color: #ff6600;')
              strong
                span(style='font-family: helvetica, arial, sans-serif;')
                  span(style='font-size: 14pt;') Kem chống nắng
                  span(style='font-size: 14pt;') Image spf 50 Prevention+ Daily Ultimate Protection Moisturizer
          p(style='text-align: center;')
            iframe(src='https://www.youtube.com/embed/2S05ZC3SpJo' width='560' height='315' frameborder='0' allowfullscreen='allowfullscreen')
          p
          center
          center
            em Review kem chống nắng image spf 50
          p
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong Da hỗn hợp – Nghe thôi đã thấy phức tạp và khó chăm sóc rồi!
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Da hỗn hợp là làn da rất phổ biến ở châu Á và Việt Nam. Đây là kiểu da khá phức tạp vừa khô lại vừa dầu. Vùng trán, mũi, cằm (khu vực chữ T) thường rất nhờn; còn 2 bên má, xương quai hàm lại khô. Nên khi chăm sóc khó hơn rất nhiều các loại da khác. Do đó phải kết hợp cả 2 phương pháp 
              strong chăm sóc cho da nhờn
              |  và da khô cũng một lúc.
          p  
          p(style='text-align: center;')
            img.alignnone.wp-image-17225.size-full(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-cho-da-hon-hop-Image-SPF50-Prevention.png' alt='kem chống nắng cho da hỗn hợp Image SPF50 Prevention' width='700' height='446')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em Làn da hỗn hợp cần được chăm sóc kĩ lưỡng hơn những loại da khác.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Hơn nữa, vào mùa hè nóng bức là thời điểm lý tưởng khiến làn da hỗn hợp sản sinh dầu. Điều đó dẫn đến mụn xuất hiện; lỗ chân lông to ra, da bóng nhờn mất thẩm mỹ. Bởi thế, việc lựa chọn biện pháp dưỡng da hỗn hợp, đặc biệt là vào mùa hè cần phải cận trọng, nếu không sẽ gặp những kích ứng không mong muốn.
          p
            strong >>
            a.row-title(href='https://dangcapphaidep.vn/tin-tuc/cach-cham-soc-da-hon-hop-vao-mua-he' aria-label='“Giải mã cách chăm sóc da hỗn hợp vào mùa hè “chuẩn không cần chỉnh”” (Chỉnh sửa)') Giải mã cách chăm sóc da hỗn hợp vào mùa hè “chuẩn không cần chỉnh”
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Và một trong những dòng sản phẩm thiết kế chuyên biệt dành cho làn da hỗn hợp rất được phái đẹp ưu chuộng trong mùa hè này phải kể đến kem chống nắng Image spf 50 Prevention+ Daily Ultimate Protection Moisturizer .
          p
            | Nếu bạn đang thắc mắc “
            span(style='color: #000000;') kem chống nắng nào tốt nhất cho da hỗn hợp?
            | ” thì Đẳng Cấp Phái Đẹp sẽ bật mí ngay cho bạn đó chính là 
            strong kem chống nắng Image SPF 50 Prevention
            | .
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong Kem chống nắng Image SPF 50 
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong cho da hỗn hợp 
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong – Mặc kệ tia UV, da vẫn mềm mịn và tràn đầy sức sống
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              strong Kem chống nắng Image spf 50 Prevention+
              |  –  một trong những dòng kem chống nắng cho da hỗn hợp nổi tiếng của 
              a(style='color: #000000;' href='https://dangcapphaidep.vn/thuong-hieu/image-skincare') thương hiệu mỹ phẩm Image Skincare
              |  – Mỹ, được xem là giải pháp chống nắng phổ rộng với chỉ số chống nắng SPF 50, giúp bảo vệ làn da tối ưu trước tác hại của tia UV; đồng thời bổ sung các chất dưỡng ẩm cần thiết để nuôi dưỡng làn da luôn mềm mại và sáng khỏe.
          p  
          p(style='text-align: center;')
            img.aligncenter.wp-image-21554.size-full(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/Image-Spf-50.jpg' alt='kem chống nắng image spf 50' width='797' height='1196')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Kem chống nắng cho da hỗn hợp
                |  Image Prevention+ Daily Ultimate Protection Moisturizer SPF50.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Đặc biệt hơn, 
              strong kem chống nắng Image spf 50 Prevention+
              |  không chỉ là “biện pháp” chống nắng an toàn mà sản phẩm còn là “bảo bối thần kì” giúp phái đẹp bảo vệ da tránh khỏi những hư tổn không mong muốn; nhanh chóng làm mờ đốm nâu, sạm nám trên da; trả lại làn da khỏe mạnh, mịn màng và trắng sáng như mong ước.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Với tính năng ưu việt như thế, hiển nhiên kem chống nắng Image spf 50 Prevention+ đã trở thành dòng 
              span(style='text-decoration: underline;')
                a(style='color: #000000; text-decoration: underline;' href='http://dangcapphaidep.vn/cham-soc-da/chong-nang') kem chống nắng tốt nhất
              | hiện nay, đã có hàng triệu tín đồ làm đẹp trên khắp thế giới tin dùng và thừa nhận khả năng chống nắng tối đa, dưỡng da chuyên sâu mà vẫn đảm bảo an toàn khi sử dụng.
          p  
          p
            a(style='display: block; margin: auto; text-align: center;' href='tel:+84888845999')
              img.alignnone.size-full.wp-image-18651.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2018/08/button-goi-ngay.jpg' alt='button-goi-ngay' width='350' height='96')
          p  
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong
                | Nhắc đến kem chống nắng cho da hỗn hợp, kem chống nắng Image spf 50 Prevention+ không thể không nói đến thành phần dưỡng chất
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Không quá khó nghĩ khi 
              strong kem chống nắng image spf 50
              strong Prevention+
              |  sở hữu nhiều tính năng ưu việt bởi những thành phần dưỡng chất bên trong sản phẩm đều được các chuyên gia khoa học hàng đầu tại Image Skincare nghiên cứu và tinh lọc kĩ càng.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Thành phần chi tiết trong sản phẩm bao gồm: 9% zinc oxide, 7.5% octinoxate, 5% octisalate, bv-osc (vitamin c), photosomes, roxisomes, thiothanie.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              strong
                em Zinc oxide
              | : thành phần chống nắng vật lý; bảo vệ da khỏi tia UVA, UVB tốt hơn bất cứ thành phần nào mà không gây kích ứng da, không gây mụn trứng cá hay làm lỗ chân lông to; giúp ngăn chặn sự tích tụ bã nhờn trên da, đồng thời giảm tình trạng viêm và kích ứng trên da.
          p  
          p(style='text-align: center;')
            img.alignnone.wp-image-17221.size-full(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-cho-da-hon-hop-Image-SPF50-Prevention-2.png' alt='kem chống nắng cho da hỗn hợp Image SPF50 Prevention' width='700' height='464')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em Đẩy lùi lão hóa da hiệu quả nhờ thành phần chiết xuất hạt nho.
          p  
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              strong
                em Hạt nho
              | : Có khả năng chống oxy hóa cực mạnh. Giữ vai trò hỗ trợ 
              strong dưỡng ẩm
              | , giúp giảm thiểu tình trạng da bị khô ráp, bong tróc. Ngăn chặn sớm sự hình thành nếp nhăn, dấu hiệu lão hóa.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              strong
                em Vitamin C
              | : Chống oxy hóa mạnh mẽ. Bảo vệ da tránh khỏi tác động xấu ánh nắng mặt trời. Ngăn chặn hình thành nếp nhăn, thâm sạm, ngăn ngừa sự hình thành sắc tố melanin. Tăng cường khả năng tái tạo collagen, giúp làn da trắng sáng và căng mượt tự nhiên.
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong
                | Ưu tiên sử dụng 
                em kem chống nắng 
                | Image spf 50 Prevention+, lợi ích nhận được là gì?
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Bảo vệ tối ưu làn da trước tác hại của tia UVA, UVB và môi trường bên ngoài.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Làm mềm da, dưỡng ẩm chuyên sâu cho làn da luôn mềm mại và mịn màng.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Nhanh chóng phục hồi và sữa chữa các tổn thương DNA.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | + Ngăn ngừa tình trạng sạm nám da, đốm nâu, 
              strong chống lão hóa da hiệu quả
              | .
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Ngừa da khô ráp, bong tróc và kích ứng da.
          p  
          p(style='text-align: center;')
            img.size-full.wp-image-18728.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-image-spf50.jpg' alt='' width='700' height='579')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                | Làn da vẫn tươi sáng, khỏe mạnh mặc kệ ánh nắng mặt trời khi kem chống nắng Image Prevention+ Daily Ultimate Protection Moisturizer SPF50 bên cạnh.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | + Giúp làn da luôn được khô thoáng, không còn xuất hiện bóng dầu hay lỗ chân lông bít tắc.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Giảm tình trạng kích ứng da, giúp da khỏe mạnh và tươi mới.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Giữ gìn làn da luôn chắc khỏe, mềm mượt, trắng sáng và tràn đầy năng lượng.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | Khó khăn nào cũng có thể giải quyết nếu có giải pháp phù hợp. Việc 
              a(style='color: #000000;' href='https://dangcapphaidep.vn/cham-soc-da')
                span(style='text-decoration: underline;') chăm sóc da
              |  cũng tương tự như vậy. Nếu bạn muốn tìm cho mình dòng sản phẩm chăm sóc da hỗn hợp bảo vệ toàn diện trước ánh nắng mặt trời thì “giải pháp” hoàn hảo nhất dành cho bạn chính là sử dụng 
              strong kem chống nắng cho da hỗn hợp
              |  Image Prevention+ Daily Ultimate Protection Moisturizer SPF50.
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong Ai nên sử dụng kem chống nắng Image spf 50 Prevention+?
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') Kem chống nắng Image spf 50 Prevention+ rất thích hợp dành cho:
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Làn da hỗn hợp.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Da thường.
          p  
          p(style='text-align: center;')
            img.size-full.wp-image-18723.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-image.jpg' alt='' width='640' height='640' srcset='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-image.jpg 640w, https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-image-200x200.jpg 200w' sizes='(max-width: 640px) 100vw, 640px')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                | Kem chống nắng Image spf 50 Prevention+ rất thích hợp dành cho da hỗn hợp, những ai thường xuyên đi bơi, tiếp xúc với ánh nắng mặt trời.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Làn da thường xuyên tiếp xúc với ánh nắng mặt trời.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Da mỏng yếu cần bảo vệ.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Vận đông viên, đi bơi, đi biển…
          h2
            span(style='font-size: 24pt; color: #ff6600;')
              strong Khách hàng review kem chống nắng Image sfp 50 Prevention+
          p
            strong
              em Chị Hồng Ân (27 tuổi – TP.HCM)
            | : “
            em
              | Từ ngày lựa chọn kem chống nắng này, tôi đã không còn lo lắng mỗi khi ra nắng vì da tôi được bảo vệ rất tốt.
            |  Không có cảm giác đau rát khi tiếp xúc với ánh nắng. Da cũng mềm mượt hẳn do kem này có tác dụng dưỡng ẩm. Đi đâu tôi cũng đem theo để sử đụng để không lo da bị bắt nắng.”
          p
            strong
              em Chị Mỹ Hạnh (25 tuổi – Lâm Đồng)
            | : “
            em
              | Vốn dĩ da hỗn hợp rất khó chiều nên việc chọn kem chống nắng rất khó khăn. Nhưng từ ngày sử dụng
            strong kem chống nắng Image SPF50 Prevention
            em
              | , tôi bớt lo làn da mình bị bắt nắng. Sản phẩm được thiết kế chuyên biệt cho da hỗn hợp nên tôi tự tin sử dụng.
            |  Không chỉ được bảo vệ dưới nắng, da trông sáng, mềm mịn hơn.”
          p
            em
              strong Chị Nguyệt Nga (30 tuổi – Bình Thuận)
            | : “
            em
              | Tôi dùng sản phẩm đến nay gần 3 tháng và cảm thấy rất hài lòng. Da không còn tình trạng kích ứng da, khô ráp như trước vì kem chống nắng Image SPF50 Prevention có chất dưỡng ẩm. Hơn nữa, sản phẩm còn ngừa được lão hóa da, với khả năng chống nắng thì tuyệt vời không phải bàn cãi nữa.
            | ”
          p
            em
              strong Lan Anh (35  tuổi – TP.HCM): “
              | Không chỉ tôi mà rất nhiều bạn bè của tôi cũng yêu thích sử dụng kem chống nắng này. Đây là kem chống nắng dành cho da hỗn hợp, vừa chống nắng tốt lại giúp ngăn ngừa kích ứng da, dưỡng da mềm mại và chống lão hóa cực kì tốt
            | .”
          p
            a(style='display: block; margin: auto; text-align: center;' href='tel:+84888845999')
              img.alignnone.size-full.wp-image-18651.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2018/08/button-goi-ngay.jpg' alt='button-goi-ngay' width='350' height='96')
          p
            strong
              em Và rất nhiều Phái Đẹp trên khắp thế giới tin dùng:
          p(style='text-align: center;')
            img.size-full.wp-image-18733.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/10554207_1648580478701028_1009607792_n.jpg' alt='' width='640' height='640' srcset='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/10554207_1648580478701028_1009607792_n.jpg 640w, https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/10554207_1648580478701028_1009607792_n-200x200.jpg 200w' sizes='(max-width: 640px) 100vw, 640px')
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong
                | Sử dụng kem chống nắng Image spf 50 Prevention+ như thế nào để hiệu quả tốt nhất?
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Rửa sạch mặt và lau khô.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;') + Lấy một lượng kem chống nắng vừa đủ cho mặt và cổ.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | + Thoa đều lên mặt, vừa thoa vừa massage nhẹ nhàng. Sau đó vỗ nhẹ để các dưỡng chất thẩm thấu đều vào sâu bên trong da.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              | + Nên thoa kem khoảng 15 – 30 phút trước khi ra ngoài để kem kịp phát huy tác dụng. Thoa lại sau 2 giờ hoặc sau khi tiếp xúc nhiều với nước như rửa mặt, ra nhiều mồ hôi, bơi lội.
          p(style='text-align: center;')
            img.size-full.wp-image-18732.aligncenter(src='https://cdn.dangcapphaidep.vn/wp-content/uploads/2019/03/kem-chong-nang-image-spf-50-hon-hop.jpg' alt='' width='700' height='786')
          p(style='text-align: center;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                | Thoa 
                strong kem chống nắng cho da mặt
                |  trước khi ra ngoài khoảng 15 – 30 phút
          p  
          h2(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #ff6600;')
              strong Thông tin sản phẩm
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Tên sản phẩm
              | : Kem chống nắng cho da hỗn hợp Image Prevention+ Daily Ultimate Protection Moisturizer SPF50.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Nhà sản xuất
              | : Thương hiệu Image Skincare.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Xuất xứ
              | : Mỹ.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Quy cách đóng gói
              | : Tuýp 91g.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Đối tượng sử dụng
              | : Mọi người ở độ tuổi từ 18 trở lên.
          p(style='text-align: justify;')
            span(style='font-family: helvetica, arial, sans-serif; color: #000000;')
              em
                strong Cách dùng
              | : Thoa trước kem chống nắng khi ra nắng 15 – 30 phút, thoa lại mỗi 2 giờ hoặc sau khi rửa mặt hay ra nhiều mồ hôi.

        .show-data.row.align-content-end.justify-content-center 
          a.row.align-items-center.justify-content-center Xem thêm nội dung
      .styleproduct
        h3 CÓ 1,705 NGƯỜI ĐANG XEM, 733 KHÁCH ĐẶT MUA
        .khach_mua_hang
          table
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product1.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product2.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product1.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product2.svg' alt='')
                | Chờ xác nhận
              td 49 phút
      // Products
      section.products.heading
        .container
          .head
            h2 sản phẩm cùng thương hiệu 
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      // Products
      section.products.heading
        .container
          .head
            h2 sản phẩm cùng chức năng
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      .styleproduct
        h3 đánh giá nhận xét
      .danhgianhanxet
        .reviewvote
          .row.align-items-center.justify-content-between.item
            span.number_total.row.align-items-center.justify-content-center
              | 3.5
              img(src='img/Starbig.svg')
            ul
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 5
                  img(src='img/Star3.svg')
                span.line
                  div(style="width: 100%").percent
                span.text 10 đánh giá
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 4
                  img(src='img/Star3.svg')
                span.line
                  div(style="width: 30%").percent
                span.text 3 đánh giá
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 3
                  img(src='img/Star3.svg')
                span.line
                span.text 3 đánh giá
              li.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 2
                  img(src='img/Star3.svg')
                span.line
                  i
                span.text 0 đánh giá
              li.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 1
                  img(src='img/Star3.svg')
                span.line
                  i
                span.text 0 đánh giá
            a.send-comment(href='#').row.align-items-center.justify-content-center Gửi đánh giá của bạn
          .row.align-items-center.item2.justify-content-center
            span.title
              | Bạn thấy sản phẩm như thế nào ?
              br
              | (Chọn sao nhé)
            .choose-star
              input(name="rating" value="3" type="hidden")
              ul
                li(data-value=5)
                  span Tuyệt vời quá
                li(data-value=4)
                  span Rất tốt
                li(data-value=3)
                  span Bình thường
                li(data-value=2)
                  span Tạm được
                li(data-value=1)
                  span Không thích
               
        form.comments-review
          span.head Đánh giá sản phẩm
          textarea.comments(name='comments')
          span.options.row.align-items-center
            span.files
              span
                img(src='img/camera.svg')
                | Gửi ảnh
              input(type='file')
        .form.comments-review2
          input(type='text' name='hoten' placeholder='Họ và tên (bắt buộc)').input
          input(type='text' name='email' placeholder='Email').input
          input(type='submit' value='Gửi').submit
        .box-comments.row.align-items-center.justify-content-between
          span.count 100 Bình luận
        #comments.comments-area
          .replay_comment
            .l
              .row
                .left
                  img(src="img/avatar.png")
                .right
                  .name
                    h5 Nguyễn Mạnh Linh
                      img(src="img/camketchinhhang.svg")
                      span Đã mua hàng
                    .rate
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star2.svg")
                    .content
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      .popup-gallery
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                     
                  .replay.row.align-items-center
                    a(data-toggle="modal" data-target="#exampleModal") Trả lời
                    a(href='#')
                      img(src="img/like.svg")
                      | Thích
                    a.time Cách đây 5 giờ
              .persion-replay
                .pr
                  .left.row.name.align-items-center
                    img(src="img/avatar.png")
                    h5 Ngan Giang
                    span.md.row.align-items-center.justify-content-center Quản trị viên               
                  .right
                    .content
                      | Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                    .replay.row.align-items-center
                      a(data-toggle="modal" data-target="#exampleModal") Trả lời
                      a(href='#')
                        img(src="img/like.svg")
                        | Hài lòng
                      a(href='#')
                        img(src="img/dislike.svg")
                        | Không hài lòng
                      a.time Cách đây 5 giờ
                .pr
                  .left.row.name.align-items-center
                    img(src="img/avatar.png")
                    h5 Ngan Giang
                  .right
                    .content
                      | Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                    .replay.row.align-items-center
                      a(data-toggle="modal" data-target="#exampleModal") Trả lời
                      a(href='#')
                        img(src="img/like.svg")
                        | Hài lòng
                      a(href='#')
                        img(src="img/dislike.svg")
                        | Không hài lòng
                      a.time Cách đây 5 giờ
      .main-information.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/camketchinhhang.svg')
              p
                | CAM KẾT 
                br
                | HÀNG CHÍNH HÃNG
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/tichdiem.svg')
              p
                | TÍCH ĐIỂM
                br
                | THÀNH VIÊN VIP
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/mienphi.svg')
              p
                | MIỄN PHÍ 
                br
                | VẬN CHUYỂN
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/chamsoc.svg')
              p
                | CHĂM SÓC
                br
                | & TƯ VẤN TẬN TÌNH
      // Footer
      footer#footer-new
        .footer-top.pad30_0
          .container
            ._item
              p
                | HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
                br
                | ( Có chỗ đậu xe hơi )
              p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
              img(src='img/bocongthuong.svg' alt='')
            ._item
              h4 THÔNG TIN CÔNG TY
              ul
                li
                  a(href='/') Giới thiệu 
                li
                  a(href='/') Chính sách đổi trả hàng 
                li
                  a(href='/') Góp ý – Khiếu nại
                li
                  a(href='/') Quy chế bảo mật
                li
                  a(href='/') Cung cấp hàng cho dangcapphaidep.vn
            ._item
              h4 HƯỚNG DẪN - HỢP TÁC
              ul
                li
                  a(href='/') Hỗ trợ khách hàng
                li
                  a(href='/') Hướng dẫn mua hàng 
                li
                  a(href='/') Hình thức giao hàng 
                li
                  a(href='/') Hình thức thanh toán
                li
                  a(href='/') Bán buôn, bán sỉ
            ._item
              h4 Liên hệ
              ul
                li
                  a(href='/')
                    .img
                      img(src='img/icon1.svg' alt='')
                    span 08 888 45 999
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0933 888 001
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0927 232 232
                li
                  a(href='/')
                    .img
                      img(src='img/icon3.svg' alt='')
                    span info@dangcapphaidep.vn
            ._item2
              ul
                li.width50
                  a(href='/')
                    img(src='img/icon4.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/paypal.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon5.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/icon6.svg' alt='')
                li.width50
                  a(href='/')
                    img(src='img/cod.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon7.svg' alt='')
        .footer-copyright
          .container
            ul
              li
                a(href='/')
                  img(src='img/facebook.svg' alt='')
              li
                a(href='/')
                  img(src='img/youtube.svg' alt='')
      include inc/bottom2.jade
      .background_mobile
      .menu-mobile  
        .top.row.align-items-center
          img(src='img/leftmobile.svg' alt='').close_mobile
          ul.row.align-items-center
            li
              a(href="/") Đăng nhập
            li
              a(href="/") Đăng ký
        ul.bottom
          li
            a(href='#') Thương hiệu
          li
            a(href='#') Chăm sóc da
            ul.sub
              li
                a(href='#') -  Da nhạy cảm
              li
                a(href='#') -  Điều trị rạn nứt da
          li
            a(href='#') Collagen
          li
            a(href='#') Mi, mày, tóc
          li
            a(href='#') Sức khỏe
          li
            a(href='#') Giảm cân
          li
            a(href='#') Nước hoa
          li
            a(href='#') Trang điểm
          li
            a(href='#') Kinh nghiệm làm đẹp
      .form-box-search(style='display: none')
        .search__input
          form#form_s
            a.cancelSearch x
            input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')     
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
  