doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      // Breadcrumbs
      section.breadcrumbs.pad10_0.breadcrumbs3
        .container
          .row
            .col-lg-12
              ul
                li
                  a(href='#') Trang chủ
                li
                  a(href='#') Collagen Nhật Bản
      // Detail Products
      section.detailp
        .opt_1
          .container
            .padbt0_20
              h1
                | Mesoestetic Radiance DNA Night Cream 50ml – Kem chống lão hóa da ban đêm được yêu thích số 1 tại Tây Ban Nha
              span.options
                span.rate
                  i.fa.fa-star.green
                  i.fa.fa-star.green
                  i.fa.fa-star.green
                  i.fa.fa-star.green
                  i.fa.fa-star
                span.comments
                  i.fa.fa-comment
                  | Xem đánh giá (3)
                span.write-comment
                  i.fas.fa-pencil-alt
                  | Viết đánh giá
          .gallery
            #big.owl-carousel.owl-theme
              .item
                img.lazy(data-src='img/product-detail.jpg')
              .item
                img.lazy(data-src='img/product-detail.jpg')
              .item
                img.lazy(data-src='img/product-detail.jpg')
              .item
                img.lazy(data-src='img/product-detail.jpg')
            #counter
          ul.description
            li
              | Giúp phục hồi da lão hóa mạnh mẽ, xóa mờ nếp nhăn, đường nhăn, tăng cường dưỡng ẩm cho da mịn mượt và duy trì sự tươi trẻ....
            li
              | Hãng sản xuất:
              img(src='img/hangsx.png', alt='')
            li
              | Xuất xứ: 
              strong Mỹ
          .container
            span.options
              span.price 3.488.000 đ
              span.sticker -5%
            .quicach
              span Qui cách
              ul.size
                li
                  a(href='#') 5ml
                li
                  a(href='#') 10ml
            .box-detail
              span.title Số lượng
              span.number
                input(type='number')
            span.buy
              a.buy_product(href='#') Đặt mua
              a.add_to_cart(href='#') Thêm vào giỏ hàng
          .hotline
            i.fa.fa-phone
            span Gọi đặt mua:
            a(href='tel:0888845999') 0888845999
          .box-note.swiper-container
            ul.swiper-wrapper
              li.swiper-slide
                .img
                  img(src='img/note1.png', alt='')
                | Cam kết chính hãng
              li.swiper-slide
                .img
                  img(src='img/note2.png', alt='')
                | Miễn phí giao hàng toàn quốc
              li.swiper-slide
                .img
                  img(src='img/note3.png', alt='')
                | Thanh toán khi nhận hàng
              li.swiper-slide
                .img
                  img(src='img/note4.png', alt='')
                | Chăm sóc & tư vấn tận tình
              li.swiper-slide
                .img
                  img(src='img/note5.png', alt='')
                | Đầy đủ hóa đơn chứng từ
        .opt_2
          .pad30_0
            ul.promotions
              li
                span khuyến mãi
                p.green
                  | -  Tặng Hộp Mặt Nạ Sampar Pháp ( trị giá: 1.050.000đ )
                  img(src='img/gift.jpg', alt='')
                p.green
                  | -  Giảm 
                  strong 3% 
                  | khi thanh toán online, tối đa 500.000đ
              li
                span Thời gian dự kiến giao hàng
                p Giao hàng tiêu chuẩn: dự kiến từ 24 tiếng đến 72 tiếng.
              li
                span Chấp nhận thanh toán bằng:
                .img
                  img(src='img/thanhtoan.jpg', alt='')
        // InfoP
        section.info_detailp
          .container
            h2.first Thông tin sản phẩm
            .row.ctent.padbt0_30
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              img.lazy(data-src='img/detail.jpg', alt='')
            .row.ctent.padbt0_30
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              img.lazy(data-src='img/detail.jpg', alt='')
            .row.ctent.padbt0_30
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              p
                | Tinh chất trẻ hóa da và trị liệu đa công dụng Gold Elements Mega Serum được chiết xuất từ các thành phần thiên nhiên quý giá như bột vàng 24K nguyên chất, giúp làn da trở nên mềm mịn, săn chắc, khỏe mạnh, định hình đường nét trên khuôn mặt ngay từ lần đầu sử dụng.
              img.lazy(data-src='img/detail.jpg', alt='')
            .row.padbt0_30
              .read-more
                a(href='#')
                  | Đọc thêm
                  i.fas.fa-caret-down
        // InfoPd
        section.info_detailpd.pad30_0
          .container
            h2.first Đánh giá & Nhận xét
            // Review
            .reviewvote
              .row.align-items-center
                .text-left
                  span.number_total
                    | 3.5
                    i.fa.fa-star
                ul.right
                  li.active
                    span.number
                      | 5
                      i.fa.fa-star
                    span.line
                      i(style='width: 100%')
                    span.text 10 đánh giá
                  li.active
                    span.number
                      | 4
                      i.fa.fa-star
                    span.line
                      i(style='width: 20%')
                    span.text 3 đánh giá
                  li.active
                    span.number
                      | 3
                      i.fa.fa-star
                    span.line
                      i(style='width: 20%')
                    span.text 3 đánh giá
                  li
                    span.number
                      | 2
                      i.fa.fa-star
                    span.line
                      i
                    span.text 0 đánh giá
                  li
                    span.number
                      | 1
                      i.fa.fa-star
                    span.line
                      i
                    span.text 0 đánh giá
              a.send-comment(href='#') Gửi đánh giá của bạn
              .choose
                span.title Bạn thấy sản phẩm như thế nào (Chọn sao nhé)
                .choose-star.pad30_0
                  ul
                    li
                      a(href='#')
                        i.fa.fa-star.green
                        span Không thích
                    li
                      a(href='#')
                        i.fa.fa-star.green
                        span Tạm được
                    li
                      a(href='#')
                        i.fa.fa-star.green
                        span Bình thường
                    li
                      a(href='#')
                        i.fa.fa-star.green
                        span Rất tốt
                    li
                      a(href='#')
                        i.fa.fa-star
                        span Tuyệt vời	
            // Form
            form.comments-review
              .form-bg
                h2 Đánh giá sản phẩm
                textarea.comments(name='comments')
                span.options
                  span.files
                    span
                      i.fa.fa-camera
                      | Gửi ảnh
                    input(type='file')
              span.hoten
                input(type='text', name='hoten', placeholder='Họ và tên (bắt buộc)')
              span.submit
                input(type='text', name='email', placeholder='Email')
                input(type='submit', value='Gửi')
            // Count comments
            .box-comments
              span.count 500 Bình luận
              form.search-ct
                input(type='text', placeholder='Tìm theo nội dung')
                input(type='submit', value='')
                i.fa.fa-search
            // Comments
            #comments.comments-area
              .replay_comment
                .l
                  .name
                    h5 Nguyễn Mạnh Linh
                    .rate
                      span
                        i.fa.fa-star.green(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                    .content
                      | - Sản phẩm này có gây tác dụng phụ gì không ạ? Công ty có thể hỗ trợ em không ạ ?
                  .replay
                    a(href='#') Trả lời
                    a(href='#')
                      i.fas.fa-thumbs-up
                      | Thích
                    .time Cách đây 5 giờ
                  .persion-replay
                    i.arrow
                    .pr
                      .head
                        i.fa.fa-user
                        h5 Đẳng cấp phải đẹp
                        span Quản trị viên
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        a(href='#')
                          i.fas.fa-thumbs-up
                          | Hài lòng
                        a(href='#')
                          i.far.fa-thumbs-down
                          | Không hài lòng
                        .time Cách đây 5 giờ
                    .pr
                      .head
                        h5 Phúc
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        .time Cách đây 5 giờ
                    .pr
                      .head
                        i.fa.fa-user
                        h5 Đẳng cấp phải đẹp
                        span Quản trị viên
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        a(href='#')
                          i.fas.fa-thumbs-up
                          | Hài lòng
                        a(href='#')
                          i.far.fa-thumbs-down
                          | Không hài lòng
                        .time Cách đây 5 giờ
                .l
                  .name
                    h5 Nguyễn Mạnh Linh
                    .rate
                      span
                        i.fa.fa-star.green(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                      span
                        i.fa.fa-star(aria-hidden='true')
                    .content
                      | - Sản phẩm này có gây tác dụng phụ gì không ạ? Công ty có thể hỗ trợ em không ạ ?
                  .replay
                    a(href='#') Trả lời
                    a(href='#')
                      i.fas.fa-thumbs-up
                      | Thích
                    .time Cách đây 5 giờ
                  .persion-replay
                    i.arrow
                    .pr
                      .head
                        i.fa.fa-user
                        h5 Đẳng cấp phải đẹp
                        span Quản trị viên
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        a(href='#')
                          i.fas.fa-thumbs-up
                          | Hài lòng
                        a(href='#')
                          i.far.fa-thumbs-down
                          | Không hài lòng
                        .time Cách đây 5 giờ
                    .pr
                      .head
                        h5 Phúc
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        .time Cách đây 5 giờ
                    .pr
                      .head
                        i.fa.fa-user
                        h5 Đẳng cấp phải đẹp
                        span Quản trị viên
                      .msg
                        p Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                      .replay
                        a(href='#') Trả lời
                        a(href='#')
                          i.fas.fa-thumbs-up
                          | Hài lòng
                        a(href='#')
                          i.far.fa-thumbs-down
                          | Không hài lòng
                        .time Cách đây 5 giờ
                .read-more
                  a(href='#')
                    | Xem thêm 10 đánh giá
                    i.fas.fa-caret-down
        // Products
        section.products.heading.pad30_0
          .container
            h2 Sản phẩm liên quan
            .main-products.swiper-container.padtp30_0
              ul.swiper-wrapper
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
        // Products
        section.products.heading.pad30_0
          .container
            h2 Sản phẩm cùng thương hiệu
            .main-products.swiper-container.padtp30_0
              ul.swiper-wrapper
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
                li.swiper-slide
                  a.item(href='#')
                    .img
                      img.lazy(data-src='img/product1.jpg')
                      span.sticker Sale
                    h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                    p Tinh chất dưỡng sáng da, nâng cơ mặt...
                    span.price
                      span.new 3.700.000đ
                      span.old 4.700.000đ
                    span.rate
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star.green
                      i.fa.fa-star
    include inc/bottom2.jade
    .menu-mobile
      span.close_mobile
        i.fa.fa-times
      ul
        li
          a(href='#') Thương hiệu
        li
          a(href='#') Chăm sóc da
          ul.sub
            li
              a(href='#') -  Da nhạy cảm
            li
              a(href='#') -  Điều trị rạn nứt da
        li
          a(href='#') Collagen
        li
          a(href='#') Mi, mày, tóc
        li
          a(href='#') Sức khỏe
        li
          a(href='#') Giảm cân
        li
          a(href='#') Nước hoa
        li
          a(href='#') Trang điểm
        li
          a(href='#') Kinh nghiệm làm đẹp
    .form-box-search(style='display: none')
      .search__input
        form#form_s
          i.fa.fa-search
          input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')
          i.fa.fa-times-circle
        a.cancelSearch Cancel
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
