doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      .gallery
        #big.owl-carousel.owl-theme
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
          .item
            img.lazy(data-src='img/product-detail.jpg')
        #counter
      .detail
        h1 Vitamin C Booster Concentrate 20 ml – Tinh chất làm trắng da, chống lão hóa
        span.options.row.align-items-center
          span.rate
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star3.svg')
            img(src='img/Star2.svg')
        span.options.row.align-items-center
          span.comments
            img(src='img/comment.svg')
            | Xem đánh giá (03)
          span.write-comment
            img(src='img/pencil.svg')
            | Viết đánh giá (02)
        span.options.row.align-items-end
          select.number
            option(value = "1") 1
          span.price-new 3.000.000đ
          span.price-old 5.000.000đ
      .detail
        ul.tag
          li
            a(href="#") Chăm sóc da
          li
            a(href="#") Chăm sóc da
          li
            a(href="#") Chăm sóc da
        ul.description
          li.row.align-items-center
            span Hãng sản xuất:
            img(src='img/hang.svg' alt='')
          li
            span Xuất xứ: 
            | Đức
          .radio
            audio(controls='')
              source(src='horse.ogg' type='audio/ogg')
              source(src='horse.mp3' type='audio/mpeg')
              | Your browser does not support the audio element.
      .detail
        ul.promotions
            li.row
              .img
                img(src='img/icon14.svg' alt='')
              .text 
                span Miễn phí ship & Miễn phí hoàn trả
            li.row
              .img
                img(src='img/icon15.svg' alt='')
              .text 
                span Giao hàng tiêu chuẩn: dự kiến từ 24 tiếng đến 72 tiếng.
            li.row
              .img
                img(src='img/icon16.svg' alt='')
              .text 
                span Chấp nhận thanh toán
          
      .styleproduct
        h3 CÓ 1,705 NGƯỜI ĐANG XEM, 733 KHÁCH ĐẶT MUA
        .khach_mua_hang
          table
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product1.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product2.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product1.svg' alt='')
                | Chờ xác nhận
              td 49 phút
            tr
              td Nghiêm Vũ Hoàng 
              td xxxx491878	
              td 
                img(src='img/icon-product2.svg' alt='')
                | Chờ xác nhận
              td 49 phút
      // Products
      section.products.heading
        .container
          .head
            h2 sản phẩm cùng thương hiệu 
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      // Products
      section.products.heading
        .container
          .head
            h2 sản phẩm cùng chức năng
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      .styleproduct
        h3 đánh giá nhận xét
      .danhgianhanxet
        .reviewvote
          .row.align-items-center.justify-content-between.item
            span.number_total.row.align-items-center.justify-content-center
              | 3.5
              img(src='img/Starbig.svg')
            ul
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 5
                  img(src='img/Star3.svg')
                span.line
                  div(style="width: 100%").percent
                span.text 10 đánh giá
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 4
                  img(src='img/Star3.svg')
                span.line
                  div(style="width: 30%").percent
                span.text 3 đánh giá
              li.active.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 3
                  img(src='img/Star3.svg')
                span.line
                span.text 3 đánh giá
              li.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 2
                  img(src='img/Star3.svg')
                span.line
                  i
                span.text 0 đánh giá
              li.row.align-items-center.justify-content-between
                span.number.row.align-items-center
                  | 1
                  img(src='img/Star3.svg')
                span.line
                  i
                span.text 0 đánh giá
            a.send-comment(href='#').row.align-items-center.justify-content-center Gửi đánh giá của bạn
          .row.align-items-center.item2.justify-content-center
            span.title
              | Bạn thấy sản phẩm như thế nào ?
              br
              | (Chọn sao nhé)
            .choose-star
              input(name="rating" value="3" type="hidden")
              ul
                li(data-value=5)
                  span Tuyệt vời quá
                li(data-value=4)
                  span Rất tốt
                li(data-value=3)
                  span Bình thường
                li(data-value=2)
                  span Tạm được
                li(data-value=1)
                  span Không thích
               
        form.comments-review
          span.head Đánh giá sản phẩm
          textarea.comments(name='comments')
          span.options.row.align-items-center
            span.files
              span
                img(src='img/camera.svg')
                | Gửi ảnh
              input(type='file')
        .form.comments-review2
          input(type='text' name='hoten' placeholder='Họ và tên (bắt buộc)').input
          input(type='text' name='email' placeholder='Email').input
          input(type='submit' value='Gửi').submit
        .box-comments.row.align-items-center.justify-content-between
          span.count 100 Bình luận
        #comments.comments-area
          .replay_comment
            .l
              .row
                .left
                  img(src="img/avatar.png")
                .right
                  .name
                    h5 Nguyễn Mạnh Linh
                      img(src="img/camketchinhhang.svg")
                      span Đã mua hàng
                    .rate
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star3.svg")
                      img(src="img/Star2.svg")
                    .content
                      | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                      .popup-gallery
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                        a 
                          img(src='https://unsplash.it/1200/800?image=841').gallery2
                     
                  .replay.row.align-items-center
                    a(data-toggle="modal" data-target="#exampleModal") Trả lời
                    a(href='#')
                      img(src="img/like.svg")
                      | Thích
                    a.time Cách đây 5 giờ
              .persion-replay
                .pr
                  .left.row.name.align-items-center
                    img(src="img/avatar.png")
                    h5 Ngan Giang
                    span.md.row.align-items-center.justify-content-center Quản trị viên               
                  .right
                    .content
                      | Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                    .replay.row.align-items-center
                      a(data-toggle="modal" data-target="#exampleModal") Trả lời
                      a(href='#')
                        img(src="img/like.svg")
                        | Hài lòng
                      a(href='#')
                        img(src="img/dislike.svg")
                        | Không hài lòng
                      a.time Cách đây 5 giờ
                .pr
                  .left.row.name.align-items-center
                    img(src="img/avatar.png")
                    h5 Ngan Giang
                  .right
                    .content
                      | Chào bạn, cảm ơn bạn đã quan tâm đến sản phẩm của chúng tôi.
                    .replay.row.align-items-center
                      a(data-toggle="modal" data-target="#exampleModal") Trả lời
                      a(href='#')
                        img(src="img/like.svg")
                        | Hài lòng
                      a(href='#')
                        img(src="img/dislike.svg")
                        | Không hài lòng
                      a.time Cách đây 5 giờ
      .main-information.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/camketchinhhang.svg')
              p
                | CAM KẾT 
                br
                | HÀNG CHÍNH HÃNG
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/tichdiem.svg')
              p
                | TÍCH ĐIỂM
                br
                | THÀNH VIÊN VIP
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/mienphi.svg')
              p
                | MIỄN PHÍ 
                br
                | VẬN CHUYỂN
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/chamsoc.svg')
              p
                | CHĂM SÓC
                br
                | & TƯ VẤN TẬN TÌNH
      // Footer
      footer#footer-new
        .footer-top.pad30_0
          .container
            ._item
              p
                | HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
                br
                | ( Có chỗ đậu xe hơi )
              p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
              img(src='img/bocongthuong.svg' alt='')
            ._item
              h4 THÔNG TIN CÔNG TY
              ul
                li
                  a(href='/') Giới thiệu 
                li
                  a(href='/') Chính sách đổi trả hàng 
                li
                  a(href='/') Góp ý – Khiếu nại
                li
                  a(href='/') Quy chế bảo mật
                li
                  a(href='/') Cung cấp hàng cho dangcapphaidep.vn
            ._item
              h4 HƯỚNG DẪN - HỢP TÁC
              ul
                li
                  a(href='/') Hỗ trợ khách hàng
                li
                  a(href='/') Hướng dẫn mua hàng 
                li
                  a(href='/') Hình thức giao hàng 
                li
                  a(href='/') Hình thức thanh toán
                li
                  a(href='/') Bán buôn, bán sỉ
            ._item
              h4 Liên hệ
              ul
                li
                  a(href='/')
                    .img
                      img(src='img/icon1.svg' alt='')
                    span 08 888 45 999
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0933 888 001
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0927 232 232
                li
                  a(href='/')
                    .img
                      img(src='img/icon3.svg' alt='')
                    span info@dangcapphaidep.vn
            ._item2
              ul
                li.width50
                  a(href='/')
                    img(src='img/icon4.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/paypal.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon5.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/icon6.svg' alt='')
                li.width50
                  a(href='/')
                    img(src='img/cod.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon7.svg' alt='')
        .footer-copyright
          .container
            ul
              li
                a(href='/')
                  img(src='img/facebook.svg' alt='')
              li
                a(href='/')
                  img(src='img/youtube.svg' alt='')
      .background_mobile
      .menu-mobile  
        .top.row.align-items-center
          img(src='img/leftmobile.svg' alt='').close_mobile
          ul.row.align-items-center
            li
              a(href="/") Đăng nhập
            li
              a(href="/") Đăng ký
        ul.bottom
          li
            a(href='#') Thương hiệu
          li
            a(href='#') Chăm sóc da
            ul.sub
              li
                a(href='#') -  Da nhạy cảm
              li
                a(href='#') -  Điều trị rạn nứt da
          li
            a(href='#') Collagen
          li
            a(href='#') Mi, mày, tóc
          li
            a(href='#') Sức khỏe
          li
            a(href='#') Giảm cân
          li
            a(href='#') Nước hoa
          li
            a(href='#') Trang điểm
          li
            a(href='#') Kinh nghiệm làm đẹp
      .form-box-search(style='display: none')
        .search__input
          form#form_s
            a.cancelSearch x
            input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')     
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
  