doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			include inc/header.jade
			.feed
				.top.swiper-container
					ul.swiper-wrapper
						li.swiper-slide
							a(href="#") New Feeds
						li.swiper-slide
							a(href="#") Unboxing
						li.swiper-slide
							a(href="#") Best Deals
				.noibattrongtuan.swiper-container
					h3 Nổi bật trong tuần
					ul.swiper-wrapper
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
				.center
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									| đã viết đánh giá cho sản phẩm Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							img(src='img/picture1.jpg')
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									| đã viết đánh giá cho sản phẩm Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
					
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2
									img(src='img/img-2.jpg')
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
						
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									| đã viết đánh giá cho sản phẩm Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2
									img(src='img/img-2.jpg')
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2.last
									img(src='img/img-2.jpg')
									.more +4
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
	
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
