doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			include inc/header.jade
			.feed
				.top.swiper-container
					ul.swiper-wrapper
						li.swiper-slide
							a(href="#") New Feeds
						li.swiper-slide
							a(href="#") Unboxing
						li.swiper-slide
							a(href="#") Best Deals
				.noibattrongtuan.swiper-container
					h3 Nổi bật trong tuần
					ul.swiper-wrapper
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
						li.swiper-slide
							a(href='#')
								img(src='img/noibat.png')
								span Được đề cập nhiều nhất
				.center
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									span(style='color: #636363;') đã viết đánh giá cho sản phẩm 
									strong Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr 
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							img(src='img/picture1.jpg')
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									span(style='color: #636363;') đã viết đánh giá cho sản phẩm 
									strong Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr 
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
					
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2
									img(src='img/img-2.jpg')
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
						
					.baiviet
						.top.row.align-items-center
							.avatar
								img(src='img/avatar.png')
							.title 
								.text 
									span.name Ngọc Anh 
									span(style='color: #636363;') đã viết đánh giá cho sản phẩm 
									strong Mặt Nạ Ngủ Naruko Tea Tree Shine Control Blemish Clear Night Gelly 80 gr 
								.row.align-items-center
									.rating
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star3.svg')
										img(src='img/Star2.svg')
									span.date 25/12/2020
						.content
							p Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop Được tặng kèm đơn hàng, đc gói trong hộp quà rất xinh em gái mình rất thích, shop rất chu đáo, thanks shop
							ul
								li
									a(href="#") #Chăm sóc da
								li
									a(href="#") #Trị mụn
						.picture
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2
									img(src='img/img-2.jpg')
							.row.justify-content-between
								.col2
									img(src='img/img-2.jpg')
								.col2.last
									img(src='img/img-2.jpg')
									.more +4
						.count.row.justify-content-between
							.row.align-items-center
								.like
									img(src='img/likefeed.svg')
									span 20
								.comments
									img(src='img/commentfeed.svg')
									span 50
							.forward
								img(src='img/feed5.svg')
						.binhluan
							form.form
								.name N
								.options
									input(type="text" name="binhluan" placeholder="Gửi bình luận của bạn")
									.file
										input(type="file" id="avatar" name="avatar" accept="image/png, image/jpeg")
										img(src='img/camera2.svg')
							.list
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.reply
									.img
										img(src='img/avatar.png')
									.text
										.bg
											.name Jerry
											.bl 
												p Hàng được gói trong hộp quà rất xinh, còn đc tặng kèm quà, em gái mình rất thích, shop rất chu đáo, thanks shop
										.options
											a(href="#") Like
											a(href="#") Reply
								.personal
									.img
										img(src='img/avatar.png')
									.text
										.name Jerry
										.imgtext
											img(src='img/imgfeed.png')
										.options
											a(href="#") Like
											a(href="#") Reply
			.main-information.swiper-container
				ul.swiper-wrapper
					li.swiper-slide
						.item.row.align-items-center.justify-content-center
							img(src='img/camketchinhhang.svg')
							p
								| CAM KẾT 
								br
								| HÀNG CHÍNH HÃNG
					li.swiper-slide
						.item.row.align-items-center.justify-content-center
							img(src='img/tichdiem.svg')
							p
								| TÍCH ĐIỂM
								br
								| THÀNH VIÊN VIP
					li.swiper-slide
						.item.row.align-items-center.justify-content-center
							img(src='img/mienphi.svg')
							p
								| MIỄN PHÍ 
								br
								| VẬN CHUYỂN
					li.swiper-slide
						.item.row.align-items-center.justify-content-center
							img(src='img/chamsoc.svg')
							p
								| CHĂM SÓC
								br
								| & TƯ VẤN TẬN TÌNH
			// Footer
			footer#footer-new.padbt0_60
				.footer-top.pad30_0
					.container
						._item
							p
								| HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
								br
								| ( Có chỗ đậu xe hơi )
							p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
							img(src='img/bocongthuong.svg' alt='')
						._item
							h4 THÔNG TIN CÔNG TY
							ul
								li
									a(href='/') Giới thiệu 
								li
									a(href='/') Chính sách đổi trả hàng 
								li
									a(href='/') Góp ý – Khiếu nại
								li
									a(href='/') Quy chế bảo mật
								li
									a(href='/') Cung cấp hàng cho dangcapphaidep.vn
						._item
							h4 HƯỚNG DẪN - HỢP TÁC
							ul
								li
									a(href='/') Hỗ trợ khách hàng
								li
									a(href='/') Hướng dẫn mua hàng 
								li
									a(href='/') Hình thức giao hàng 
								li
									a(href='/') Hình thức thanh toán
								li
									a(href='/') Bán buôn, bán sỉ
						._item
							h4 Liên hệ
							ul
								li
									a(href='/')
										.img
											img(src='img/icon1.svg' alt='')
										span 08 888 45 999
								li
									a(href='/')
										.img
											img(src='img/icon2.svg' alt='')
										span 0933 888 001
								li
									a(href='/')
										.img
											img(src='img/icon2.svg' alt='')
										span 0927 232 232
								li
									a(href='/')
										.img
											img(src='img/icon3.svg' alt='')
										span info@dangcapphaidep.vn
						._item2
							ul
								li.width50
									a(href='/')
										img(src='img/icon4.svg' alt='')
								li.width70
									a(href='/')
										img(src='img/paypal.svg' alt='')
								li.width30
									a(href='/')
										img(src='img/icon5.svg' alt='')
								li.width70
									a(href='/')
										img(src='img/icon6.svg' alt='')
								li.width50
									a(href='/')
										img(src='img/cod.svg' alt='')
								li.width30
									a(href='/')
										img(src='img/icon7.svg' alt='')
				.footer-copyright
					.container
						ul
							li
								a(href='/')
									img(src='img/facebook.svg' alt='')
							li
								a(href='/')
									img(src='img/youtube.svg' alt='')
			.background_mobile
			.menu-mobile  
				.top.row.align-items-center
					img(src='img/leftmobile.svg' alt='').close_mobile
					ul.row.align-items-center
						li
							a(href="/") Đăng nhập
						li
							a(href="/") Đăng ký
				ul.bottom
					li
						a(href='#') Thương hiệu
					li
						a(href='#') Chăm sóc da
						ul.sub
							li
								a(href='#') -  Da nhạy cảm
							li
								a(href='#') -  Điều trị rạn nứt da
					li
						a(href='#') Collagen
					li
						a(href='#') Mi, mày, tóc
					li
						a(href='#') Sức khỏe
					li
						a(href='#') Giảm cân
					li
						a(href='#') Nước hoa
					li
						a(href='#') Trang điểm
					li
						a(href='#') Kinh nghiệm làm đẹp
			.form-box-search(style='display: none')
				.search__input
					form#form_s
						a.cancelSearch x
						input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?') 
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
