doctype html
html
  include inc/head.jade
  body
    #wrapper_mobile
      include inc/header2.jade
      // Cart
      section.cart
        .list-cart
          .head
            a.back(href='#')
              i.icon-Light
          .cart_item
            .item
              .all
                .img
                  img(src='img/cart2.jpg', alt='')
                .des
                  span.title Zell V 30000mg – Viên Uống Nhau Thai Cừu New Zealand
                  .detail
                    span.price
                      span.price_new 5.488.000 đ
                      span.price_old 2.000.000 đ
                    .option
                      span.number
                        span.minius -
                        input.number(type='number', value='1')
                        span.plus +
                      span.favourite
                        i.icon-heart
                        span Mua sau
              a(href='#').close-item
                i.icon-close                
          .cart_options
            .giam-gia-form
              .head-item
                i.icon-coupon
                span Mã giảm giá
              form
                input(type='text', name='magiamgia', placeholder='Mã giảm giá')
                .submit
                  input(type='submit', value='')
                  i.icon-arrow-next
              .notice
                .all
                  p Mua hàng 
                    span 500.000đ 
                    | để được Tặng voucher 400k áp dụng cho đơn hàng 1500k tiếp theo ...
                  .icon
                    i.icon-gift
            .doi-qua
              ._l
                i.icon-coin
                .div
                  span Đổi quà bằng coin
                  span Bạn đang có 
                    span.number 0 
                    | icon
              ._r
                i.icon-arrow-next
            .tam-tinh
              .item
                span Tiền hàng:
                span 80.000.000đ
              .item
                span Giảm giá: 
                span 0đ
            .tong-cong
              .item
                span Tổng cộng:
                span 7.756.000đ
              .col_1
                a(href="thanhtoan.html") Tiến hành đặt hàng
      
    .form-box-search(style='display: none')
      .search__input
        form#form_s
          i.fa.fa-search
          input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')
          i.fa.fa-times-circle
        a.cancelSearch Cancel
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
