doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      // Banner
      section.banner
        .owl-carousel.owl-theme.main-banner
          -for(i=0;i<3;i++)
            .item
              img(src='img/banner.jpg')
              .caption
                h1 Tinh chất làm sáng da
                  span BELMEUR  serum
                p.row.align-items-center.justify-content-center
                  span chỉ còn
                  span 345k
                a(href="#") mua ngay
      // Brands
      .brands.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
      // Menu
      .menu-home-top.swiper-container.pad20_0
        ul.swiper-wrapper
          li.swiper-slide
            a(href='#')
              .img
                img(src='img/icon1-top.svg', alt='')
              span Chăm sóc da
          li.swiper-slide
            a(href='#')
              .img
                img(src='img/icon2-top.svg', alt='')
              span Collagen
          li.swiper-slide
            a(href='#')
              .img
                img(src='img/icon3-top.svg', alt='')
              span Mi, Mày tóc
          li.swiper-slide
            a(href='#')
              .img
                img(src='img/icon4-top.svg', alt='')
              span Sức khỏe
          li.swiper-slide
            a(href='#')
              .img
                img(src='img/icon5-top.svg', alt='')
              span Giảm cân
      // Products
      section.products.heading
        .container
          .head
            h2 Sản phẩm đã xem
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      // Products
      section.products.heading
        .container
          .head
            h2 Sản phẩm mua nhiều
            a(href="#")
              img(src='img/arrowright2.svg')
          .banner-product
            a(href="#")
              img(src='img/image3.jpg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      // Tìm kiếm
      section.heading
        .container
          .head
            h2 Tìm kiếm nhiều nhất
        .main-keyword.swiper-container
          ul.swiper-wrapper
            li.swiper-slide
              a(href="#") Tinh chất trị tàn nhan
            li.swiper-slide
              a(href="#") Dưỡng da
            li.swiper-slide
              a(href="#") Trắng da
            li.swiper-slide
              a(href="#") Khô da
            li.swiper-slide
              a(href="#") Collagen
      // Products
      section.products.heading
        .container
          .head
            h2 hot deals
            a(href="#")
              img(src='img/arrowright2.svg')
          .banner-product
            a(href="#")
              img(src='img/image3.jpg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng 
      // Products
      section.products.heading
        .container
          .head
            h2 sản phẩm dành riêng cho bạn
            a(href="#")
              img(src='img/arrowright2.svg')
          .banner-product
            a(href="#")
              img(src='img/image3.jpg')
          .main-products.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng
      // Products
      section.heading
        .container
          .head
            h2 Kinh nghiệm làm đẹp
            a(href="#")
              img(src='img/arrowright2.svg')
          .main-kinhnghiemlamdep.swiper-container
            ul.swiper-wrapper
              -for(i=0;i<5;i++)
                li.swiper-slide
                  .item
                    .img
                      img(src='img/image4.jpg')
                      span.date 07/10/2020
                    .text
                      h5 Khi nào bạn cần đi gặp bác sĩ khi xuất hiện những đốm nâu trên da
                      p
                        | Bạn có bao giờ thắc mắc tại sao những đốm nâu trên da xuất hiện ngày một nhiều mặc dù bạn vẫn đang còn trẻ hay chưa? Những đốm này còn được gọi là đốm đồi mồi...
                      a(href='/') Xem thêm
      section.heading
        .container
          .head
            h2 Video mới nhất
            a(href="#")
              img(src='img/arrowright2.svg') 
        .main-videos.owl-carousel.owl-theme
          -for(i=0;i<4;i++)
            a(href="#").item
              .img
                img(src='img/image5.jpg', alt="")
              p Hướng Dẫn Chọn Kem Chống Nắng Đúng - Image Skincare Spf 32 spf 50 Chống uva
      .main-information.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/camketchinhhang.svg')
              p
                | CAM KẾT 
                br
                | HÀNG CHÍNH HÃNG
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/tichdiem.svg')
              p
                | TÍCH ĐIỂM
                br
                | THÀNH VIÊN VIP
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/mienphi.svg')
              p
                | MIỄN PHÍ 
                br
                | VẬN CHUYỂN
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/chamsoc.svg')
              p
                | CHĂM SÓC
                br
                | & TƯ VẤN TẬN TÌNH
      // Footer
      footer#footer-new
        .footer-top.pad30_0
          .container
            ._item
              p
                | HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
                br
                | ( Có chỗ đậu xe hơi )
              p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
              img(src='img/bocongthuong.svg' alt='')
            ._item
              h4 THÔNG TIN CÔNG TY
              ul
                li
                  a(href='/') Giới thiệu 
                li
                  a(href='/') Chính sách đổi trả hàng 
                li
                  a(href='/') Góp ý – Khiếu nại
                li
                  a(href='/') Quy chế bảo mật
                li
                  a(href='/') Cung cấp hàng cho dangcapphaidep.vn
            ._item
              h4 HƯỚNG DẪN - HỢP TÁC
              ul
                li
                  a(href='/') Hỗ trợ khách hàng
                li
                  a(href='/') Hướng dẫn mua hàng 
                li
                  a(href='/') Hình thức giao hàng 
                li
                  a(href='/') Hình thức thanh toán
                li
                  a(href='/') Bán buôn, bán sỉ
            ._item
              h4 Liên hệ
              ul
                li
                  a(href='/')
                    .img
                      img(src='img/icon1.svg' alt='')
                    span 08 888 45 999
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0933 888 001
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0927 232 232
                li
                  a(href='/')
                    .img
                      img(src='img/icon3.svg' alt='')
                    span info@dangcapphaidep.vn
            ._item2
              ul
                li.width50
                  a(href='/')
                    img(src='img/icon4.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/paypal.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon5.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/icon6.svg' alt='')
                li.width50
                  a(href='/')
                    img(src='img/cod.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon7.svg' alt='')
        .footer-copyright
          .container
            ul
              li
                a(href='/')
                  img(src='img/facebook.svg' alt='')
              li
                a(href='/')
                  img(src='img/youtube.svg' alt='')
      include inc/bottom.jade
      .background_mobile
      .menu-mobile  
        .top.row.align-items-center
          img(src='img/leftmobile.svg' alt='')
          ul.row.align-items-center
            li
              a(href="/") Đăng nhập
            li
              a(href="/") Đăng ký
        ul.bottom
          li
            a(href='#') Thương hiệu
          li
            a(href='#') Chăm sóc da
            ul.sub
              li
                a(href='#') -  Da nhạy cảm
              li
                a(href='#') -  Điều trị rạn nứt da
          li
            a(href='#') Collagen
          li
            a(href='#') Mi, mày, tóc
          li
            a(href='#') Sức khỏe
          li
            a(href='#') Giảm cân
          li
            a(href='#') Nước hoa
          li
            a(href='#') Trang điểm
          li
            a(href='#') Kinh nghiệm làm đẹp
      .form-box-search(style='display: none')
        .search__input
          form#form_s
            a.cancelSearch x
            input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')     
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
