doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      // Banner
      section.banner
        .owl-carousel.owl-theme.main-banner
          -for(i=0;i<3;i++)
            .item
              img(src='img/banner.jpg')
              .caption
                h1 Tinh chất làm sáng da
                  span BELMEUR  serum
                p.row.align-items-center.justify-content-center
                  span chỉ còn
                  span 345k
                a(href="#") mua ngay
      // Brands
      .brands.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
          li.swiper-slide
            a(href="#")
              img(src='img/image.png', alt='')
      // Menu
      //.menu-home-top.swiper-container.pad30_0
        ul.swiper-wrapper
          li.swiper-slide
            a(href='#')
              img(src='img/m1.png', alt='')
              span Chăm sóc da
          li.swiper-slide
            a(href='#')
              img(src='img/m2.png', alt='')
              span Collagen
          li.swiper-slide
            a(href='#')
              img(src='img/m3.png', alt='')
              span Mi, Mày tóc
          li.swiper-slide
            a(href='#')
              img(src='img/m4.png', alt='')
              span Sức khỏe
          li.swiper-slide
            a(href='#')
              img(src='img/m5.png', alt='')
              span Giảm cân
      // Partner
      //.partner.swiper-container.pad30_0
        ul.swiper-wrapper
          li.swiper-slide
            a(href='#')
              img(src='img/partner1.jpg', alt='')
          li.swiper-slide
            a(href='#')
              img(src='img/partner1.jpg', alt='')
          li.swiper-slide
            a(href='#')
              img(src='img/partner1.jpg', alt='')
          li.swiper-slide
            a(href='#')
              img(src='img/partner1.jpg', alt='')
          li.swiper-slide
            a(href='#')
              img(src='img/partner1.jpg', alt='')
      // Products
      //section.products.heading.pad30_0
        .container
          h1 Sản phẩm khuyến mãi
          .main-products.swiper-container.padtp30_0
            ul.swiper-wrapper
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
              li.swiper-slide
                a.item(href='#')
                  .img
                    img.lazy(data-src='img/product1.jpg')
                    span.sticker Sale
                  h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                  p Tinh chất dưỡng sáng da, nâng cơ mặt...
                  span.price
                    span.new 3.700.000đ
                    span.old 4.700.000đ
                  span.rate
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star.green
                    i.fa.fa-star
      //section.products.heading.pad30_0
        .container
          h2 Chăm sóc da an toàn
          .swiper-container
            ul.nav.nav-tabs.padtp30_0.swiper-wrapper
              li.swiper-slide
                h3.active.show(data-toggle='tab', href='#cate1_tab1') Kem dưỡng sáng da
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab2') Trị nám tàn nhang
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab3') Uống trắng da
              li.swiper-slide
                h3(data-toggle='tab', href='#cate1_tab4') Chống nắng
          .tab-content
            #cate1_tab1.tab-pane.fade.in.active.show
              .row
                .owl-carousel.owl-theme.main-banner.padtp30_0
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                .main-products.swiper-container.padtp30_0
                  ul.swiper-wrapper
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
            #cate1_tab2.tab-pane.fade
            #cate1_tab3.tab-pane.fade
            #cate1_tab4.tab-pane.fade
      //section.products.heading.pad30_0
        .container
          h2 Sản phẩm Collagen
          .swiper-container
            ul.nav.nav-tabs.padtp30_0.swiper-wrapper
              li.swiper-slide
                h3.active.show(data-toggle='tab', href='#cate2_tab1') Nước uống collagen
              li.swiper-slide
                h3(data-toggle='tab', href='#cate2_tab2') Collagen dạng bột
              li.swiper-slide
                h3(data-toggle='tab', href='#cate2_tab3') Thức uống collagen
          .tab-content
            #cate2_tab1.tab-pane.fade.in.active.show
              .row
                .owl-carousel.owl-theme.main-banner.padtp30_0
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                  a.item(href='#')
                    img.lazy(data-src='img/banner4.jpg')
                .main-products.swiper-container.padtp30_0
                  ul.swiper-wrapper
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
                    li.swiper-slide
                      a.item(href='#')
                        .img
                          img.lazy(data-src='img/product1.jpg')
                          span.sticker Sale
                        h5 Kem dưỡng trắng da chống lão hóa chiết suất từ callogen...
                        p Tinh chất dưỡng sáng da, nâng cơ mặt...
                        span.price
                          span.new 3.700.000đ
                          span.old 4.700.000đ
                        span.rate
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star.green
                          i.fa.fa-star
            #cate2_tab2.tab-pane.fade
            #cate2_tab3.tab-pane.fade
      // News
      //section.news.heading.pad30_0
        .container
          h2 Kinh nghiệm làm đẹp
          .padtp30_0
            .video
              img.lazy(data-src='img/banner_video.jpg')
              .caption
                h3 THE SOFT PETALS OF THE ROSES consectetur adipiscing elit 
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt nunc lorem, eget ....
              a#video1.popup-youtube(href='https://www.youtube.com/watch?v=aMwvlC6RdHc?autoplay=1&rel=0')
                i.far.fa-play-circle
          .main-news
            .item
              img(src='img/n1.jpg', alt='')
              p Lorem Ipsum is simply dummy text of the printing...	
            .item
              img(src='img/n1.jpg', alt='')
              p Lorem Ipsum is simply dummy text of the printing...	
            .item
              img(src='img/n1.jpg', alt='')
              p Lorem Ipsum is simply dummy text of the printing...	
            a.read-more(href='#') Xem tất cả
      // Show room
      //section.news.heading.pad30_0
        .container
          h2 Show room
          .swiper-container.padtp30_0
            ul.swiper-wrapper
              li.swiper-slide
                a(href='#')
                  img.lazy(data-src='img/showroom.jpg')
              li.swiper-slide
                a(href='#')
                  img.lazy(data-src='img/showroom.jpg')
              li.swiper-slide
                a(href='#')
                  img.lazy(data-src='img/showroom.jpg')
      // Footer
      //footer#footer-new
        .footer-top.pad30_0
          .container
            .item
              h4 Tổng đài hỗ trợ:
              img.lazy(data-src='img/icon.jpg', alt='')
              a(href='tel:0888845999') 08888 45 999
            .item
              img.lazy(data-src='img/f1.png')
              h3 Cam kết hàng chính hãng
            .item
              img.lazy(data-src='img/f2.png')
              h3 Tích điểm thành viên vip
            .item
              img.lazy(data-src='img/f3.png')
              h3 Miễn phí vận chuyển
            .item
              img.lazy(data-src='img/f4.png')
              h3 Chăm sóc tư vấn tận tình
        .footer-bottom
          .container
            a.footer-logo(href='#')
              img.padbt0_20(src='img/logo.jpg', alt='')
            p
              span(style='text-decoration: underline;margin: 0 5px 0 0') HCM:
              | 49 Hoa Sứ, P.7, Q.Phú Nhuận
            p
              span(style='text-decoration: underline;margin: 0 5px 0 0') HN:
              | Tòa Nhà AC, 79 Duy Tân Cầu Giấy
            a(href='#')
              img.padtp30_0(src='img/bocongthuong.png', alt='')
      //include inc/bottom.jade
    //.menu-mobile
      span.close_mobile
        i.fa.fa-times
      ul
        li
          a(href='#') Thương hiệu
        li
          a(href='#') Chăm sóc da
          ul.sub
            li
              a(href='#') -  Da nhạy cảm
            li
              a(href='#') -  Điều trị rạn nứt da
        li
          a(href='#') Collagen
        li
          a(href='#') Mi, mày, tóc
        li
          a(href='#') Sức khỏe
        li
          a(href='#') Giảm cân
        li
          a(href='#') Nước hoa
        li
          a(href='#') Trang điểm
        li
          a(href='#') Kinh nghiệm làm đẹp
    //.form-box-search(style='display: none')
      .search__input
        form#form_s
          i.fa.fa-search
          input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')
          i.fa.fa-times-circle
        a.cancelSearch Cancel
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
