doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			// Header
			header#header.pad20_0.header-ctdh
				.nav-top
					.container
						.row.align-items-center.justify-content-center
								a.menu-back2(href='javascript:void(0)')
									i.icon-arrow-pre
								span nhận xét của tôi
			.san_pham_da_xem
				.item.row.justify-content-between
					.left.row
						.img
							img(src='img/image3.jpg' alt='')
					.right
						.text
							span.title Gel giúp giảm giãn mao mạch Dr Spiller Anti Couperose Gel
							span.date 15/11/2020 20:20:42
							span.star.row.align-items-center
								img(src='img/ngoisao1.svg' alt='')
								img(src='img/ngoisao1.svg' alt='')
								img(src='img/ngoisao1.svg' alt='')
								img(src='img/ngoisao1.svg' alt='')
								img(src='img/ngoisao2.svg' alt='')
							.note Cực kì hài lòng
							p
								| Rất tốt sử dụng hiệu quả, không khô da , đóng gói cẩn thận Rất tốt sử dụng hiệu quả, không khô da , đóng gói cẩn thận
				
						p.approve Đã duyệt
				.item.row.justify-content-between
					.left
						.img
							img(src='img/image3.jpg' alt='')
					.right
						.text
							span.title Gel giúp giảm giãn mao mạch Dr Spiller Anti Couperose Gel
							.row.align-items-center
								span.date 15/11/2020 20:20:42
								span.star.row.align-items-center
									img(src='img/ngoisao1.svg' alt='')
									img(src='img/ngoisao1.svg' alt='')
									img(src='img/ngoisao1.svg' alt='')
									img(src='img/ngoisao1.svg' alt='')
									img(src='img/ngoisao2.svg' alt='')
							.note Cực kì hài lòng
							p
								| Rất tốt sử dụng hiệu quả, không khô da , đóng gói cẩn thận Rất tốt sử dụng hiệu quả, không khô da , đóng gói cẩn thận
						p.none Chưa duyệt
										
																	
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
