doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			// Header
			header#header.pad20_0.header-ctdh
				.nav-top
					.container
						.row.align-items-center.justify-content-center
								a.menu-back2(href='javascript:void(0)')
									i.icon-arrow-pre
								span đơn mua
			.quan_ly_don_hang
				.top.swiper-container
					ul.swiper-wrapper
						li.swiper-slide.active
							a(href="#") Chờ xác nhận
						li.swiper-slide
							a(href="#") Đang giao
						li.swiper-slide
							a(href="#") Đã giao
						li.swiper-slide
							a(href="#") Đã hủy
						li.swiper-slide
							a(href="#") Trả hàng
				.middle
					-for(i=0;i<5;i++)
						.item
							.row
								.img
									img(src="img/quanlydonhang1.jpg",alt="")
								.text
									span.title Thuốc Mọc Dài Và Làm Rậm Lông Mi Revitalash Advanced 2.0ml
									span.number 1
										span x  
										span.price 10.900.000 ₫
							a.xt.row.justify-content-center Xem thêm sản phẩm
							.thanhtien.row.align-items-center.justify-content-between
								span 5 sản phẩm
								span.tt Thành tiền: 
									span 25.000.000đ
							.end
								.xacnhan.row
									img(src="img/quanlydonhang2.svg",alt="")
									| Giao thành công
								.danhgia.row.justify-content-between.align-items-center
									span Đánh giá sản phẩm trước ngày 
										br 
										| 20/12/2021
									a.mualai Mua lại

		
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
