doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			// Header
			header#header.pad20_0.header-ctdh
				.nav-top
					.container
						.row.align-items-center.justify-content-center
								a.menu-back2(href='javascript:void(0)')
									i.icon-arrow-pre
								span Quản lý tài khoản
			.qltk
				.top_account
					.box
						.arrow-right-mobile.row.align-items-center
							.img.row.align-items-center.justify-content-center
								img(src='img/userIcon.svg' alt='')
							.text
								span.name Phuong Pham
								span.email hanhnguyen@gmail.com
								span.member Thành viên từ: 12/5/2017
					.boxmagiamgia
						.arrow-right-mobile.row
							.img
								img(src='img/magiamgia.svg' alt='')
							.text
								span.t Mã giảm giá
								p ( Bạn đang có 5 mã giảm giá )

					ul
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem2.svg' alt='')
								span Vip
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem3.svg' alt='')
								span Thông tin tài khoản
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem4.svg' alt='')
								span Quản lí  đơn hàng
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem5.svg' alt='')
								span Sổ địa chỉ
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem6.svg' alt='')
								span Nhận xét sản phẩm đã mua
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem7.svg' alt='')
								span Sản phẩm đã xem
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem8.svg' alt='')
								span Xu của tôi
						li
							a.row.align-items-center(href='/').arrow-right-mobile
								.img
									img(src='img/sanphamdaxem9.svg' alt='')
								span Nhận xét của tôi
					.button_mobile
						button(type="button") Đăng xuất
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
