doctype html
html
	include inc/head.jade
	body
		#wrapper_mobile
			include inc/header3.jade
			// Cart
			section.cart
				.list-cart
					.box-dia-chi
						._l
							i.icon-location
							.text
								h5 thêm địa chỉ mới
								p.name Bách, 0904678573
								p.address Đường số 1, khu chế xuất Linh Trung 2, Phường Bình Chiểu, Quân Thủ Đức, Hồ Chí Minh
						._r
							a(href='javascript:void(0)') Thay đổi
							i.icon-arrow-next
					.box-thong-tin-xuat-hoa-don
						a(href='javascript:void(0)')
							i
							span thông tin xuất hóa đơn
					.box-ghi-chu-don-hang
						a(href='javascript:void(0)')
							i
							span ghi chú đơn hàng
					.cart_options
						.tam-tinh
							.item
								span Tiền hàng:
								span 80.000.000đ
							.item
								span Phí giao hàng: 
								span Miễn phí
							.item
								span Giảm giá: 
								span 0đ
						.tong-cong
							.item
								span Tổng cộng:
								span 7.756.000đ
							.col_2
								a(href="#") 
									| Thanh toán
									img(src="img/giohang/thanh-toan.png",alt="")
								a(href="chitietdonhang.html") Tiến hành đặt hàng
		include inc/bottom3.jade
		include inc/bottom4.jade
		include inc/bottom5.jade
		include inc/bottom6.jade
		include inc/bottom7.jade
		include inc/bottom8.jade
		include inc/bottom9.jade
		script(type='text/javascript', src='js/jquery.min.js')
		script(type='text/javascript', src='js/bootstrap.js')
		script(type='text/javascript', src='js/owl.carousel.min.js')
		script(type='text/javascript', src='js/jquery.lazy.js')
		script(type='text/javascript', src='js/swiper.js')
		script(type='text/javascript', src='js/jquery.magnific-popup.js')
		script(type='text/javascript', src='js/main.js')
