doctype html
html
  include inc/head.jade
  body.m
    #wrapper_mobile
      include inc/header.jade
      include inc/locsanpham.jade
      include inc/danhmuc.jade
      .top_thuong_hieu
        .left
          #big.owl-carousel.owl-theme
            .item
              img(src='img/image8.jpg')
            .item
              img(src='img/image8.jpg')
            .item.video
              iframe(width='400' height='340' src='https://www.youtube.com/embed/x9JxyZNBzh4' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
          #thumbs.owl-carousel.owl-theme
            .item
              img(src='img/image8.jpg')
            .item
              img(src='img/image8.jpg')
            .item.video
              img(src='img/image8.jpg')
              .play
                img(src='img/play.svg')
        .right
          .content
            img(src='img/image7.png')
            h1 Thương hiệu Babor 
            p.hide Trải qua cuộc hành trình hơn 60 năm đầy...
              a.xt Xem Thêm 
            p.show(style="display: none") Trải qua cuộc hành trình hơn 60 năm đầy khó khăn gian khổ, Babor “hiên ngang” trở thành thương hiệu mỹ phẩm số 1 trong lĩnh vực điều trị, chăm sóc da hoàn hảo tại Đức. Với phương châm hoạt động tôn trọng tuyệt đối và làm tròn trách nhiệm bảo vệ môi trường, từng dòng sản phẩm của tập đoàn tuyệt nhiên mang đến sự an toàn, chất lượng tốt nhất cho người tiêu dùng; và hơn hết không gây ô nhiễm môi trường. Babor có hàng trăm Trải qua cuộc hành trình hơn 60 năm đầy khó khăn gian khổ, Babor “hiên ngang” trở thành thương hiệu mỹ phẩm số 1 trong lĩnh vực điều trị, chăm sóc da hoàn hảo tại Đức. Với phương châm hoạt động tôn trọng tuyệt đối và làm tròn trách nhiệm bảo vệ môi trường, từng dòng sản phẩm của tập đoàn tuyệt nhiên mang đến sự an toàn, chất lượng tốt nhất cho người tiêu dùng; và hơn hết không gây ô nhiễm môi trường. Babor có hàng trăm
      .tag
        ul
          li
            a.black(href="#" title="Propolis") Propolis
          li
            a.blue(href="#" title="Tinh chất ampoule") Tinh chất ampoule
          li
            a.green(href="#" title="Tinh chất ampoule") Vitamin A
          li
            a.red(href="#"  title="Tinh chất ampoule") Vitamin C
          li
            a.black(href="#" title="Propolis") Propolis
          li
            a.blue(href="#" title="Tinh chất ampoule") Tinh chất ampoule
          
      .category
        .top-category
          .dm
            h1
              span Danh mục: 
              | Chăm sóc da
              img(src='img/arrowdowncate.svg' alt='')
          .loc
            img(src='img/loc.svg' alt='')
            span Lọc
        .middle-category
          ul.top
            li#thuonghieu
              a Thương hiệu
                img(src='img/arrowdowncate.svg' alt='')
            li#loaida
              a Loại da
                img(src='img/arrowdowncate.svg' alt='')
            li#chucnang
              a Chức năng
                img(src='img/arrowdowncate.svg' alt='') 
            li#sapxep 
              a Sắp xếp
                img(src='img/arrowdowncate.svg' alt='')
          .open.sapxep
            .box-filter
              .box-filter-2.top
                .box-filter-3
                  label
                    input(type='checkbox' name='check_value')
                    span Mặc định
                  label
                    input(type='checkbox' name='check_value')
                    span Mới nhất 
                  label
                    input(type='checkbox' name='check_value')
                    span Giảm giá
          .open.loaida
            .box-filter
              .box-filter-2.top
                .box-filter-3
                  label
                    input(type='checkbox' name='check_value')
                    span Nhờn
                  label
                    input(type='checkbox' name='check_value')
                    span Khô
                  label
                    input(type='checkbox' name='check_value')
                    span Nhạy cảm
          .open.chucnang
            .box-filter
              .box-filter-2.top
                .box-filter-3
                  label
                    input(type='checkbox' name='check_value')
                    span Chống nắng
                  label
                    input(type='checkbox' name='check_value')
                    span Trị mụn
                  label
                    input(type='checkbox' name='check_value')
                    span Dưỡng da
              

          .open.thuonghieu
            .box-filter.box-fiter-price
              .form 
                input(type="text" placeholder="Tìm Kiếm")
                button(type="button")
                  img(src='img/search2.svg' alt='') 
              .alpha
                ul
                  li
                    a(href="#") A
                  li
                    a(href="#") B
                  li
                    a(href="#") C
                  li
                    a(href="#") D
                  li
                    a(href="#") E
                  li
                    a(href="#") F
                  li
                    a(href="#") G
                  li
                    a(href="#") H
                  li
                    a(href="#") I
                  li
                    a(href="#") J
                  li
                    a(href="#") K
                  li
                    a(href="#") L
                  li
                    a(href="#") M
                  li
                    a(href="#") N
                  li
                    a(href="#") O
                  li
                    a(href="#") P 
                  li
                    a(href="#") Q
                  li
                    a(href="#") R
                  li
                    a(href="#") S
                  li
                    a(href="#") T
                  li
                    a(href="#") U
                  li
                    a(href="#") V
                  li
                    a(href="#") W
                  li
                    a(href="#") X
                  li
                    a(href="#") S
                  li
                    a(href="#") T
                  li
                    a(href="#") U
                  li
                    a(href="#") V
                  li
                    a(href="#") W
                  
                  
              .box-filter-4.one
                .ct
                  -for(i=0;i<6;i++)
                    label
                      input(type='checkbox' name='check_value')
                      span Alex
      // Products
      section.products.heading.cate
        .container
          .main-products
            ul
              -for(i=0;i<6;i++)
                li.swiper-slide
                  .inner
                    img.product(src='img/image2.jpg' alt='')
                    span.title Sữa rửa mặt dành cho nam giới Maria Galland 900...
                    span.star.row.align-items-center
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star3.svg' alt='')
                      img(src='img/Star2.svg' alt='')
                      span (20)
                    span.price.row.align-items-center
                      span.new 500.000đ
                      span.old 750.000đ
                  a.addtocart.row.justify-content-center.align-items-center Thêm giỏ hàng 
      .main-information.swiper-container
        ul.swiper-wrapper
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/camketchinhhang.svg')
              p
                | CAM KẾT 
                br
                | HÀNG CHÍNH HÃNG
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/tichdiem.svg')
              p
                | TÍCH ĐIỂM
                br
                | THÀNH VIÊN VIP
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/mienphi.svg')
              p
                | MIỄN PHÍ 
                br
                | VẬN CHUYỂN
          li.swiper-slide
            .item.row.align-items-center.justify-content-center
              img(src='img/chamsoc.svg')
              p
                | CHĂM SÓC
                br
                | & TƯ VẤN TẬN TÌNH           
      // Footer
      footer#footer-new
        .footer-top.pad30_0
          .container
            ._item
              p
                | HCM: 72/1B Huỳnh Văn Bánh, P.15, Q. PN 
                br
                | ( Có chỗ đậu xe hơi )
              p HN: Tòa Nhà AC, 79 Duy Tân Cầu Giấy
              img(src='img/bocongthuong.svg' alt='')
            ._item
              h4 THÔNG TIN CÔNG TY
              ul
                li
                  a(href='/') Giới thiệu 
                li
                  a(href='/') Chính sách đổi trả hàng 
                li
                  a(href='/') Góp ý – Khiếu nại
                li
                  a(href='/') Quy chế bảo mật
                li
                  a(href='/') Cung cấp hàng cho dangcapphaidep.vn
            ._item
              h4 HƯỚNG DẪN - HỢP TÁC
              ul
                li
                  a(href='/') Hỗ trợ khách hàng
                li
                  a(href='/') Hướng dẫn mua hàng 
                li
                  a(href='/') Hình thức giao hàng 
                li
                  a(href='/') Hình thức thanh toán
                li
                  a(href='/') Bán buôn, bán sỉ
            ._item
              h4 Liên hệ
              ul
                li
                  a(href='/')
                    .img
                      img(src='img/icon1.svg' alt='')
                    span 08 888 45 999
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0933 888 001
                li
                  a(href='/')
                    .img
                      img(src='img/icon2.svg' alt='')
                    span 0927 232 232
                li
                  a(href='/')
                    .img
                      img(src='img/icon3.svg' alt='')
                    span info@dangcapphaidep.vn
            ._item2
              ul
                li.width50
                  a(href='/')
                    img(src='img/icon4.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/paypal.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon5.svg' alt='')
                li.width70
                  a(href='/')
                    img(src='img/icon6.svg' alt='')
                li.width50
                  a(href='/')
                    img(src='img/cod.svg' alt='')
                li.width30
                  a(href='/')
                    img(src='img/icon7.svg' alt='')
        .footer-copyright
          .container
            ul
              li
                a(href='/')
                  img(src='img/facebook.svg' alt='')
              li
                a(href='/')
                  img(src='img/youtube.svg' alt='')
      .background_mobile
      .menu-mobile  
        .top.row.align-items-center
          img(src='img/leftmobile.svg' alt='').close_mobile
          ul.row.align-items-center
            li
              a(href="/") Đăng nhập
            li
              a(href="/") Đăng ký
        ul.bottom
          li
            a(href='#') Thương hiệu
          li
            a(href='#') Chăm sóc da
            ul.sub
              li
                a(href='#') -  Da nhạy cảm
              li
                a(href='#') -  Điều trị rạn nứt da
          li
            a(href='#') Collagen
          li
            a(href='#') Mi, mày, tóc
          li
            a(href='#') Sức khỏe
          li
            a(href='#') Giảm cân
          li
            a(href='#') Nước hoa
          li
            a(href='#') Trang điểm
          li
            a(href='#') Kinh nghiệm làm đẹp
      .form-box-search(style='display: none')
        .search__input
          form#form_s 
            a.cancelSearch x
            input(type='text', name='search_pro', placeholder='Bạn cần tìm gì hôm nay ?')     
    script(type='text/javascript', src='js/jquery.min.js')
    script(type='text/javascript', src='js/bootstrap.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/jquery.lazy.js')
    script(type='text/javascript', src='js/swiper.js')
    script(type='text/javascript', src='js/jquery.magnific-popup.js')
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/main2.js')
  