
@font-face {
  font-family: 'iCielSamsungSharpSansRegular';
  src: url('iCielSamsungSharpSansRegular.eot?#iefix') format('embedded-opentype'),  url('iCielSamsungSharpSansRegular.woff') format('woff'), url('iCielSamsungSharpSansRegular.ttf')  format('truetype'), url('iCielSamsungSharpSansRegular.svg#iCielSamsungSharpSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
