.popup-giaohang
	.all
		h5 Chọn hình thức giao hàng
		span.close
			i.icon-close
		.detail
			h6 Giao hàng tận nơi
			.pr
				.item
					p.name Bách, 0904678573
						span Mặc định
					p.address Đường số 1, khu chế xuất Linh Trung 2, Phường Bình Chiểu, Quân Thủ Đức, Hồ Chí Minh
					.choose
						span
						span
						span
					.box
						a(href="#") Đặt làm mặc định
						a(href="#") Chỉnh sửa địa chỉ
						a(href="#") Xoá địa chỉ
				.item
					p.name Bách, 0904678573
					p.address Đường số 1, khu chế xuất Linh Trung 2, Phường Bình Chiểu, Quân Thủ Đức, Hồ Chí Minh
					.choose
						span
						span
						span
			a(href='javascript:void(0)').end
				.icon +
				span Thêm địa chỉ mới