.popup-dang-ky
	.all
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
            i.icon-call
            p Sử dụng số: 
              span 0906154687
						input.text(type='text' placeholder="")
            .submit
              input(type="submit")
              i.icon-edit
				span Hoặc
        .button
          a(href="#").google

            span Tiếp tục với Google
          a(href="#").facebook
            span Tiếp tục với Facebook
