.popup-tinh-thanh-pho
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Tỉnh / Thành Phố
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Tìm kiếm Tỉnh / Thành Phố")
				.result
					.item
						p Hồ Chí Minh
						i.icon-arrow-next
					.item
						p Hà Nội
						i.icon-arrow-next
					.item
						p Đà Nẵng
						i.icon-arrow-next
					.item
						p Đồng Nai
						i.icon-arrow-next
					.item
						p Bà Rịa - Vũng Tàu
						i.icon-arrow-next
					.item
						p Cần Thơ
						i.icon-arrow-next
					.item
						p Khánh Hòa
						i.icon-arrow-next
					.item
						p Lâm Đồng
						i.icon-arrow-next
					.item
						p Quảng Ninh
						i.icon-arrow-next
					.item
						p Kiên Giang
						i.icon-arrow-next
					.item
						p Nghệ An
						i.icon-arrow-next
					.item
						p ĐắkLắc
						i.icon-arrow-next
