.popup-diachi
	.all
		span.back
			i.icon-arrow-pre
		h5 Địa chỉ nhận hàng
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						label Tên người nhận *
						input.text(type='text' placeholder="Nhập họ và tên người nhận")
					.control
						label Số điện thoại *
						input.text(type='text' placeholder="Nhập số điện thoại người nhận")
					.control
						label Địa chỉ nhận hàng *
						input.text(type='text' placeholder="Nhập số nhà và tên đường")
					.control.choose_tinh_thanhpho
						label Tỉnh / Thành phố *
						input.text(type='text' placeholder="Chọn Tỉnh / Thành Phố")
					.control.choose_quan_huyen
						label Quận / Huyện *
						input.text(type='text' placeholder="Chọn Quận / Huyện")
					.control.choose_phuong_xa
						label Phường / Xã *
						input.text(type='text' placeholder="Chọn Phường Xã")
					.control
						input.submit(type="submit" value="Giao đến địa chỉ này")