.popup-giaohang
	.all
		h5 Chọn hình thức giao hàng
		span.close
			i.icon-close
		.detail
			.pr
				img(src="img/detail.jpg", alt="")
				.top
					p.title Giúp phục hồi da lão hóa mạnh mẽ, tăng cường dưỡng ẩm cho da mịn mượt....
					p.price 40.000.000đ
			a(href="giohang.html") 
				i.icon-shopping-bag
				span Xem giỏ hàng