.popup-phuong-xa
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Phường / Xã
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Chọn Phường / Xã")
				.result
					.item
						p Phường Bến Nghé
						i.icon-arrow-next
					.item
						p Phường Bến Thành
						i.icon-arrow-next
					.item
						p Phường Cầu Kho
						i.icon-arrow-next
					.item
						p Phường Cầu Ông Lãnh
						i.icon-arrow-next
					.item
						p Phường Cô Giang
						i.icon-arrow-next
					.item
						p Phường Đa Kao
						i.icon-arrow-next
					.item
						p Phường Nguyễn Cư Trinh
						i.icon-arrow-next
					.item
						p Phường Nguyễn Thái Bình
						i.icon-arrow-next
					.item
						p Phường Phạm Ngũ Lão
						i.icon-arrow-next
					.item
						p Phường Tân Định
						i.icon-arrow-next
