.popup-dang-ky.active
	.all
		span.close
			i.icon-close
		h5 Chào mừng bạn đến với
		img.top(src="img/logo.jpg", alt="")
		.detail
			.pr
				form
					.control
						i.icon-call.top
						input.text(type='text' placeholder="Sử dụng số: 0906154687")
						.submit
							input(type="submit" value="")
							i.icon-edit
				span.top Hoặc
				.button
					a(href="#").google
						.img
							img(src="img/giohang/icon-google.png", alt="")
						span Tiếp tục với Google
					a(href="#").facebook
						.img
							img(src="img/giohang/icon-facebook.png", alt="")
						span Tiếp tục với Facebook
						