.popup-thong-tin-hoa-don
	.all
		h5 Thông tin xuất hóa đơn
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						label Mã số thuế *
						input.text(type='text' placeholder="Nhập mã số thuế")
					.control
						label Tên công ty *
						input.text(type='text' placeholder="Nhập tên công ty")
					.control
						label Địa chỉ*
						input.text(type='text' placeholder="Nhập địa chỉ công ty")
					.control
						label Email *
						input.text(type='text' placeholder="Nhập email")
					.control
						input.submit(type="submit" value="Hoàn tất")