.nav-fix-bt-detail
	.item
		a(href='#')
			i.icon-call
	.item
		a(href='#')
			i.icon-chat-message
	.item
		a(href='#')
			span Chọn mua
.popup-addcart
	h5 Đã thêm vào giỏ hàng
	span.close
		i.icon-close
	.detail
		.pr
			img(src="", alt="")
			span
				span.title 
				span.price
		a(href="#") 
			i
			span Xem giỏ hàng