.popup-quan-huyen
	.all
		span.back
			i.icon-arrow-pre
		h5 Chọn Quận / Huyện
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						input.text(type='text' placeholder="Chọn Quận / Huyện")
				.result
					.item
						p Quận 1
						i.icon-arrow-next
					.item
						p Quận 2
						i.icon-arrow-next
					.item
						p Quận 3
						i.icon-arrow-next
					.item
						p Quận 4
						i.icon-arrow-next
					.item
						p Quận 5
						i.icon-arrow-next
					.item
						p Quận 6
						i.icon-arrow-next
					.item
						p Quận 7
						i.icon-arrow-next
					.item
						p Quận 8
						i.icon-arrow-next
					.item
						p Quận 9
						i.icon-arrow-next
					.item
						p Quận 10
						i.icon-arrow-next
					.item
						p Quận 11
						i.icon-arrow-next
					.item
						p Quận 12
						i.icon-arrow-next
					.item
						p Quận Gò Vấp
						i.icon-arrow-next
