.nav-fix-bt-detail
	.item
		a(href='#')
			i.icon-call
	.item
		a(href='#')
			i.icon-chat-message
	.item
		a(href='#')
			span Chọn mua
.popup-addcart
	.addcart
		h5 Đã thêm vào giỏ hàng
		span.close
			i.icon-close
		.detail
			.pr
				img(src="img/detail.jpg", alt="")
				span.top
					p.title Giúp phục hồi da lão hóa mạnh mẽ, tăng cường dưỡng ẩm cho da mịn mượt....
					p.price 40.000.000đ
			a(href="#") 
				i.icon-shopping-bag
				span Xem giỏ hàng