.popup-ghi-chu-don-hang
	.all
		h5 Thông tin xuất hóa đơn
		span.close
			i.icon-close
		.detail
			.pr
				form
					.control
						label Ghi chú cho bộ phận đóng gói và giao hàng
					.control
						textarea(name="", cols="30", rows="10" placeholder="Nhập tên công ty")
					.control
						input.submit(type="submit" value="Hoàn tất")