.popup-giaohang
	.all
		h5 Chọn hình thức giao hàng
		span.close
			i.icon-close
		.detail
			h6 Giao hàng tận nơi
			.pr
				.item
					p.name Bách, 0904678573
						span Mặc định
					p.address Đường số 1, khu chế xuất Linh Trung 2, Phường Bình Chiểu, Quân Thủ Đức, Hồ Chí Minh
					.choose
						span
						span
						span
				.item
					p.name Bách, 0904678573
					p.address Đường số 1, khu chế xuất Linh Trung 2, Phường Bình Chiểu, Quân Thủ Đức, Hồ Chí Minh
					.choose
						span
						span
						span
			a(href="giohang.html") 
				i.icon-shopping-bag
				span Xem giỏ hàng