.nav-fix-bt
    .item
        a(href='#')
            i.icon-home
            span Home
    .item
        a(href='#')
            i.icon-video
            span Video
    .item
        a(href='#')
            i.icon-feed
            span Feed
    .item
        a(href='#')
            i.icon-blog
            span Blog
    .item
        a(href='#')
            i.icon-user
            span Tài khoản