.box-bottom#dm
  .sidebar_thuonghieu.bg
    .head.row.align-items-center.justify-content-between
      span.back2
        img(src="img/back2.svg")
      h2 Danh mục sản phẩm
      span.close2
        img(src="img/close2.svg")
    .box-filter
      .box-filter-2.top
        h3 
          span Danh mục: 
          | Chăm sóc da
        .box-filter-3
          h4 Chăm sóc cơ bản
          label
            input(type='checkbox' name='check_value')
            span Bộ Kit
          label
            input(type='checkbox' name='check_value')
            span Chống nắng
          label
            input(type='checkbox' name='check_value')
            span Chống Nhăn, Chống lão hóa
          label
            input(type='checkbox' name='check_value')
            span Kem Dưỡng Sáng Da
          label
            input(type='checkbox' name='check_value')
            span Da Nhạy Cảm
          label
            input(type='checkbox' name='check_value')
            span Nâng Nở Ngực
          label
            input(type='checkbox' name='check_value')
            span Nước Tẩy Trang
          label
            input(type='checkbox' name='check_value')
            span Tắm Trắng
          label
            input(type='checkbox' name='check_value')
            span Dưỡng Ẩm
          label
            input(type='checkbox' name='check_value')
            span Điều Trị Rạn Nứt Da
          h4 Chăm sóc cơ bản
          label
            input(type='checkbox' name='check_value')
            span Bộ Kit
          label
            input(type='checkbox' name='check_value')
            span Chống nắng
          label
            input(type='checkbox' name='check_value')
            span Chống Nhăn, Chống lão hóa
          label
            input(type='checkbox' name='check_value')
            span Kem Dưỡng Sáng Da
          label
            input(type='checkbox' name='check_value')
            span Da Nhạy Cảm
          label
            input(type='checkbox' name='check_value')
            span Nâng Nở Ngực
          label
            input(type='checkbox' name='check_value')
            span Nước Tẩy Trang
          label
            input(type='checkbox' name='check_value')
            span Tắm Trắng
          label
            input(type='checkbox' name='check_value')
            span Dưỡng Ẩm
          label
            input(type='checkbox' name='check_value')
            span Điều Trị Rạn Nứt Da
