// Header
header#header.pad20_0.header-ctdh
	.nav-top
		.container
			.row.align-items-center.justify-content-between
					a.menu-back(href='javascript:void(0)')
						i.icon-arrow-pre
					span Chi tiết đơn hàng
					a.menu-right
						span
						span
						span