// Header
header#header.pad20_0.header-payment-new
	.nav-top
		.container
			.row.align-items-center.justify-content-between
				.col-6
					a.menu-back(href='javascript:void(0)')
						i.icon-arrow-pre
						span Giỏ hàng
				.col-6.right
					a(href='giohang.html').active
						i.icon-shopping-bag
					a(href='#')
						i.icon-thanhtoan
					a(href='#')
						i.icon-checked