// Header
header#header
		.nav-top
				.container
						.row.justify-content-between.align-items-center
							.left.row.align-items-center
								a.arrow(href="#")
									img(src='img/arrow.svg', alt='')
								a.logo-mobile(href='#')
									img(src='img/logo.svg', alt='')
							.right.row.align-items-center
								.search
									img(src='img/search.svg', alt='')
								.cart
									img(src='img/cart.svg', alt='')
								.icon-menu.menu-click
									img(src='img/menu.svg', alt='')