// Header
header#header.pad20_0
    .nav-top
        .container
            .row.align-items-end.justify-content-between
                .col-2
                    a.menu-click(href='javascript:void(0)')
                        img(src='img/i-bars.png', alt='')
                .col-7
                    a.logo-mobile(href='#')
                        img(src='img/logo.png', alt='')
                .col-3.row.align-items-end.justify-content-between
                    .search
                        a(href='javascript:void(0)')
                        img(src='img/i-search.png', alt='')
                    .cart
                        img(src='img/i-cart.png', alt='')
                        span 5
